@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<GiveAID.Models.entities.partner> partners = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partners = ViewBag.partner;
    }

    var first = true;
}

<style>

    .imgHEHE {
        width: 250px;
        height: 200px;
        border-radius: 50%;
    }

</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 HOME"> About Us <small></small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
        <!-- Default box -->
        <div class="card bg-gradient-gray">
            <div class="card-body row">
                <div class="col-sm-5 text-center d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <i class="fa-solid fa-location-dot fa-bounce fa-2xl" style="color: #f0283c;"></i>
                            <p class="lead mt-2">@ViewBag.SysAddress.value</p>
                        </div>
                        <div class="col-sm-12">
                            <i class="fa-solid fa-phone-volume fa-shake fa-2xl" style="color: #02c58a;"></i>
                            <p class="lead mt-2">@ViewBag.SysPhone.value</p>
                        </div>
                        <div class="col-sm-12">
                            <i class="fa-solid fa-envelope fa-beat-fade fa-2xl" style="color: #B197FC;"></i>
                            <p class="lead mt-2">@ViewBag.SysEmail.value</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h1 style="text-align:center;">My Team</h1>
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Lai Nguyen Vu</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/aboutUS/wuSEM3.jpg")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Content destroyer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Le Minh Duc</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/aboutUS/dukeSEM3.jpg")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Mind destroyer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Xuân Ca</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/BinCute.jpg")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Xuân ca là một cô bé lon ton</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <hr class="new5">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-center"><h5 style="font-size:30px;" class="m-0 HOME">Preliminary introduction</h5></div>
                        <div class="col-sm-12 text-left mt-3 ">
                            <p style=" font-family: Arial, sans-serif; font-size: 20px; line-height: 1.5; color: #333;">
                                <strong style="font-weight: bold; color: #FF3A00; ">Give-AID</strong> aims to create a charity fund for people facing difficulties and connect compassionate individuals with those in need.
                                It shines a light on those born in darkness, but carrying the light of angels within them.
                                Let us proudly call ourselves <strong style="font-weight: bold; color: #FF3A00;">Give-AID</strong>, a lovely organization.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!--Cho nay tuyen ngon-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>If you're still breathing, you're alive</h5>
                    <p>So don't forget to breathe</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /.content -->
</div>