@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<GiveAID.Models.entities.partner> partners = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partners = ViewBag.partner;
    }

    var first = true;
}

<style>
    .carousel-caption {
        /* CSS cho thẻ <h5> */

        bottom: 90px;
    }

        .carousel-caption.d-none.d-md-block h5 {
            /* CSS cho thẻ <h5> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #00FF00;
        }

        .carousel-caption.d-none.d-md-block p {
            /* CSS cho thẻ <p> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 5px 5px 10px #00FF00;
        }

    .w-100 {
        /* kích thước thẻ slide index home */
        width: 100vw;
        height: 40vh;
        filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền làm mờ */
    }

    .logoBrandCard {
        /* kích thước logo card index home */
        width: 250px;
        height: 200px;
        margin: 2px;
    }

    .titleH1 {
        color: #34495E;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #00FF00;
    }

    .titleH3 {
        color: #FBFCFC;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #00FF00;
    }

    .titleh3 {
        text-align: center;
        text-transform: uppercase;
        color: #34495E;
        text-shadow: 5px 5px 10px #A569BD;
    }

    .titleF {
        font-style: italic;
        color: #229954;
        background-color: #E5E7E9;
    }

    .cusWD {
        color: #34495E;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #A569BD;
    }

    .imgHEHE {
        width: 220px;
        height: 200px;
        border-radius: 50%;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> About Us <small></small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body row">
                <div class="col-sm-5 text-center d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <i class="fa-solid fa-location-dot fa-bounce fa-2xl" style="color: #f0283c;"></i>
                            <p class="lead mt-2">@ViewBag.SysAddress.value</p>
                        </div>
                        <div class="col-sm-12">
                            <i class="fa-solid fa-phone-volume fa-shake fa-2xl" style="color: #02c58a;"></i>
                            <p class="lead mt-2">@ViewBag.SysPhone.value</p>
                        </div>
                        <div class="col-sm-12">
                            <i class="fa-solid fa-envelope fa-beat-fade fa-2xl" style="color: #B197FC;"></i>
                            <p class="lead mt-2">@ViewBag.SysEmail.value</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h1 style="text-align:center;">My Team</h1>
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Lại Nguyên Vũ</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/Wu.png")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Vũ là một cậu bé hề hước với cái đầu luôn nghĩ ra những trò đùa vui nhộn</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Lê Minh Đức</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/Duke.png")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Đức, anh chàng này là một cậu bé đam mê ăn hột gà nướng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 border-right">
                            <div class="row">
                                <div class="col-sm-12"><div class="float-sm-left"><h3>Xuân Ca</h3></div></div>
                                <div class="col-sm-12">
                                    <img src="@Url.Content("~/Content/Images/BinCute.jpg")" class="imgHEHE" alt="USER HEHE" />
                                    <p class="mt-2">Xuân ca là một cô bé lon ton</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div class="container">
            <h3 class="titleh3 mt-3 mb-3">Our partner</h3>
            <!-- SLIDE IMAGE -->
            <div id="logo-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @for (int i = 0; i < partners.Count(); i++)
                    {
                        <li data-target="#logo-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                    <!-- Thêm các chỉ số cho từng logo -->
                </ol>

                <!-- Slides -->
                <div class="carousel-inner mt-3 mb-3">
                    @foreach (var item in partners)
                    {
                        <div class="carousel-item @(first ? "active" : "")" style="text-align:center;">
                            <img src="~/Content/Images/partner/@item.partner_image" loading="lazy" alt="Logo 1" class="ml-3 mr-3">
                        </div>
                        first = false;
                    }
                    <!-- Thêm các slide cho từng logo -->
                </div>

                <!-- Controls -->

            </div>

        </div>

        <!--Cho nay tuyen ngon-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>If you're still breathing, you're alive</h5>
                    <p>So don't forget to breathe</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /.content -->
</div>