
@{
    ViewBag.Title = "CardDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GiveAID.Models.entities.post posts = new GiveAID.Models.entities.post();
    if (ViewBag.cardDetails != null)
    {
        posts = ViewBag.cardDetails;
    }
    List<GiveAID.Models.entities.payment> donater = new List<GiveAID.Models.entities.payment>();
    if (ViewBag.donater != null)
    {
        donater = ViewBag.donater;
    }

    int percent = 0;
    if(ViewBag.sum != null)
    {
        percent = (int)((ViewBag.sum / posts.target) * 100);
    }
}

<script>
    $(document).ready(function () {
        $('.product-image-thumb').on('click', function () {
            var $image_element = $(this).find('img')
            $('.product-image').prop('src', $image_element.attr('src'))
            $('.product-image-thumb.active').removeClass('active')
            $(this).addClass('active')
        })
    })
</script>

<style>
    .logoDetail {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 5px;
    }

        .logoDetail img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }

    .project-target {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 5px;
    }

        .project-target h5 {
            margin-left: 120px;
            margin-bottom: 5px;
        }

    .donation-amount {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 5px;
    }

        .donation-amount h5 {
            margin-left: 120px;
            margin-top: 5px;
        }

    .cusDONATE {
        display: flex;
        align-items: center;
    }

        .cusDONATE input {
            margin-right: 30px;
        }

    .cusDONATE {
        position: relative;
        left: 50px;
        top: 10px;
    }


    /* cho nay la cho nhap so dnt*/
    input.moneyHoney {
        width: 100px;
        height: 47px;
        border: 2px solid #090606;
        /* Thêm các kiểu dáng khác tùy ý */
    }
    /*end*/


    /* content khi nhap nut cu the la noi dung*/
    .infoALL {
        width: fit-content;
        height: fit-content;
        background-color: rgb(238, 234, 234);
    }

    p em {
        color: rgb(117, 110, 244);
    }

    .infoINFO {
        background-color: darkgrey;
        margin-top: 300px;
    }
    /*end*/



    /*thong tin cua card table*/
    .card-COVER {
        width: 1111px;
        margin: 0 auto; /* Canh giữa trên trang */
        margin-left: 50px;
    }

    .cover-Title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        color: chartreuse;
    }

    /*end*/

    /* anh detail  */
    .product-image {
        max-width: 100%;
        height: 500px;
        width: 500px;
    }

    .product-image {
        position: relative;
        left: 100px;
    }
    /* anh detail  */

    /* o thong tin detail  */
    .containercus {
        position: relative;
        left: 50px;
        top: 10px;
        margin-bottom: 10px;
    }
    /* o thong tin detail  */

</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="ro  w mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin chi tiết</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">E-commerce</li>*@
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                        <div class="col-12">
                            <img src="@Url.Content("~/content/images/post/" + posts.image)" class="product-image" alt="Product Image">
                        </div>
                        <div class="col-12 product-image-thumbs">
                            @foreach (var item in posts.image_post)
                            {
                                <div class="product-image-thumb active"><img src="@Url.Content("~/content/images/post/" + item.image)" alt="Product Image"></div>
                            }
                            @*<div class="product-image-thumb"><img src="@Url.Content("~/content/dist/img/prod-2.jpg")" alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="@Url.Content("~/content/dist/img/prod-3.jpg")" alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="@Url.Content("~/content/dist/img/prod-4.jpg")" alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="@Url.Content("~/content/dist/img/prod-3.jpg")" alt="Product Image"></div>*@
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">
                            @posts.title
                        </h3>

                        <hr>

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <div class="containercus" style="width: 40vw">
                                <label class="btn btn-default text-center active " style="width: 30vw; ">
                                    <div class="logoDetail">
                                        <img src="@Url.Content("~/Content/Images/youtube.png")" alt="Logo">
                                        <h5>Nhất quỷ nhì ma thứ ba nghỉ học</h5>
                                    </div>

                                    <div class="project-target">
                                        <span>Mục tiêu</span>
                                        <h5>@Convert.ToInt64(posts.target).ToString("N0") VND</h5>
                                    </div>




                                    <div class="donation-amount">
                                        <span>Đã đạt được</span>
                                        <h5>@Convert.ToInt64(ViewBag.sum).ToString("N0") VND</h5>
                                    </div>

                                    <div class="progress">

                                        <div class="progress-bar" style="width: @percent%">@percent%</div>
                                    </div>
                                </label>

                            </div>


                        </div>

                        <hr>

                        <div class="mt-2 cusDONATE">


                            <form action="@Url.Action("Donate", "Home")" method="post">
                                <input type="number" class="moneyHoney" placeholder="10.000đ" name="transaction_amout">
                                <input type="hidden" name="id" value="@posts.id" />


                                <button type="submit" class="btn btn-primary btn-lg btn-flat">
                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                    Donate
                                </button>
                            </form>

                        </div>

                        <hr class="mt-5">

                        <div class="mt-4 product-share">
                            <a href="#" class="text-gray">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-envelope-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-rss-square fa-2x"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <!--cho nay nut nhan-->
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Nội dung</a>
                            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Danh sách ủng hộ</a>
                        </div>
                    </nav>
                    <!--noi dung chi tiet-->
                    <div class="tab-content p-3 " id="nav-tabContent">
                        <div class="tab-pane fade show active " id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">

                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="infoNGO">

                                                <p>
                                                    @Html.Raw(posts.content)
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="infoINFO">
                                        <p>
                                            <em>
                                                *Toàn bộ số tiền quyên góp từ cộng đồng sẽ tự động chuyển thẳng tới Quỹ Từ tâm Đắk Lắk (không qua GiveNow)
                                                để tiến hành hỗ trợ viện phí điều trị cho bé H’Đinh Kbuor.
                                                Thông tin cập nhật về chương trình sẽ được cập nhật tại mục Báo cáo của dự án này.
                                            </em>
                                        </p>
                                    </div>

                                </div>

                                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2 infoALL">
                                    <h3 class="text-primary"><img src="@Url.Content("~/Content/Images/partner/" + posts.partner.partner_image)" alt="Logo">@posts.partner.partner_name</h3>
                                    <p class="text-muted">
                                        @posts.partner.description
                                    </p>

                                    <h5 class="mt-5 text-muted">Thông tin liên hệ</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="" class="btn-link text-secondary"><i class="fas fa-home me-3"></i> @posts.partner.address</a>
                                        </li>
                                        <li>
                                            <a href="" class="btn-link text-secondary">
                                                <i class="fas fa-envelope me-3"></i>
                                                @posts.partner.email
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="btn-link text-secondary"><i class="fas fa-phone me-3"></i>@posts.partner.phone</a>
                                        </li>

                                    </ul>

                                </div>
                            </div>




                        </div>
                        <!--noi dung danh sach nguoi ung ho-->
                        <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">




                            <div class="card card-COVER">
                                <h3 class="cover-Title">Danh sách người ủng hộ</h3>
                                <div class="card-body COVER-card">
                                    <table class="table table-COVER">
                                        <thead>
                                            <tr>
                                                <th>Tên người ủng hộ</th>
                                                <th>Số tiền</th>
                                                <th>Thời gian</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in donater)
                                            {
                                                <tr>
                                                    <td>@item.user.fullname</td>
                                                    <td>@Convert.ToInt64(item.transaction_amout).ToString("N0") VND</td>
                                                    <td>@item.transaction_date</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>





                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->