
@{
    ViewBag.Title = "CardDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GiveAID.Models.entities.post posts = new GiveAID.Models.entities.post();
    if (ViewBag.cardDetails != null)
    {
        posts = ViewBag.cardDetails;
    }

    List<GiveAID.Models.entities.payment> donater = new List<GiveAID.Models.entities.payment>();
    if (ViewBag.donater != null)
    {
        donater = ViewBag.donater;
    }

    int percent = 0;

    if (ViewBag.sum != null)
    {
        percent = (int)((ViewBag.sum / posts.target) * 100);
    }
}

<script>
    $(document).ready(function () {
        $('.product-image-thumb').on('click', function () {
            var $image_element = $(this).find('img')
            $('.product-image').prop('src', $image_element.attr('src'))
            $('.product-image-thumb.active').removeClass('active')
            $(this).addClass('active')
        });

        $('#addBtn').click(function () {
            var container = $('#input-container');
            var inputCount = container.find('input').length;

            if (inputCount < 4) {
                var input = $('<input>', {
                    type: 'email',
                    name: 'ReceiverEmail',
                    id: 'ReceiverEmail',
                    class: 'receiver-email',
                    value: ''
                });
                container.append(input);
            }
            else {
                alert("Bạn chỉ được gửi tối đa cho 5 người");
            }
        });
    });


    function doDonate() {
        var idPost = $('#idPost').val();
        var target = $('#target').val();
        var amout = $('#amout').val();
        var transaction_amout = $('#transaction_amout').val();
        var balance = $('#balance').val();

        $.ajax({
            type: 'POST',
            data:
            {
                idPost: idPost,
                target: target,
                amout: amout,
                transaction_amout: transaction_amout,
                balance: balance
            },
            dataType: 'json',
            url: '@Url.Action("Donate", "Home")',
            success: function (response) {
                if (response.result == true) {
                    var url = response.url;
                    open(url, "_self");
                } else {
                    var url = response.url;
                    open(url, "_self");
                }
            },
            error: handleException
        })
    }

    function SharePost() {
        VipaddClass("loading");
        var receiverEmails = [];

        $('.receiver-email').each(function () {
            receiverEmails.push($(this).val());
        })
        
        var linkPost = $('#currentUrl').val();
        //var receiverEmail = $('#ReceiverEmail').val();
        var titlePost = $('#titlePost').val();

        $.ajax({
            type: 'POST',
            data: {
                linkPost: linkPost,
                receiverEmail: receiverEmails,
                titlePost: titlePost
            },
            dataType: 'json',
            url: '@Url.Action("InviteMail", "Home")',
            success: function (response) {
                if (response.result == true) {
                    VipremoveClass("loading");
                    showSuccessMessage("Chia sẻ thành công");
                } else {
                    open("@Url.Content("~/Login")", "_self");
                }
            },
            error: handleException
        })
    }

</script>

<style>
    .logoDetail {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 5px;
    }

        .logoDetail img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }

    .project-target {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 5px;
    }

        .project-target h5 {
            margin-left: 120px;
            margin-bottom: 5px;
        }

    .donation-amount {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 5px;
    }

        .donation-amount h5 {
            margin-left: 120px;
            margin-top: 5px;
        }

    .cusDONATE {
        display: flex;
        align-items: center;
    }

        .cusDONATE input {
            margin-right: 30px;
        }

    .cusDONATE {
        position: relative;
        left: 50px;
        top: 10px;
    }


    /* cho nay la cho nhap so dnt*/
    input.moneyHoney {
        width: 100px;
        height: 47px;
        border: 2px solid #090606;
        /* Thêm các kiểu dáng khác tùy ý */
    }
    /*end*/


    /* content khi nhap nut cu the la noi dung*/
    .infoALL {
        width: fit-content;
        height: fit-content;
        background-color: rgb(238, 234, 234);
    }

    .contentCK {
        width: 100%;
    }

        .contentCK * {
            width: fit-content !important;
        }

    /*end*/



    /*thong tin cua card table*/


    .cover-Title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        color: chartreuse;
    }

    /*end*/

    /* anh detail  */
    .product-image {
        max-width: 100%;
        height: 500px;
    }


    /* anh detail  */

    /* o thong tin detail  */
    .containercus {
        width: 100%;
    }
    /* o thong tin detail  */
    .text-primary {
        color: #d200f5 !important;
        text-align: center;
    }

    .text-partner {
        color: #d200f5 !important;
        text-align: center;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Card Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>

    <!--Load GIF-->
    <div class="modalLoading"></div>

    <!-- Main content -->
    <div class="content">

        <div class="container">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="col-12">
                                <img src="@Url.Content("~/content/images/post/" + posts.image)" class="product-image" alt="Product Image">
                            </div>
                            <div class="col-12 product-image-thumbs">
                                @foreach (var item in posts.image_post)
                                {
                                    <div class="product-image-thumb active"><img src="@Url.Content("~/content/images/post/" + item.image)" alt="Product Image"></div>
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h3 class="my-3">
                                @posts.title
                            </h3>

                            <hr>
                            <div class="containercus">

                                <div class="logoDetail">
                                    <img src="@Url.Content("~/Content/Images/partner/" + posts.partner.partner_image)" alt="Logo" class="mr-2">
                                    <h3 class="text-partner"> -  @posts.partner.partner_name</h3>
                                </div>

                                <div class="project-target">
                                    <!--cho nay hien tien muc tieu cua bai post-->
                                    <span>Target:</span>
                                    <h5>@Convert.ToInt64(posts.target).ToString("N0") VND</h5>
                                    <input type="hidden" id="target" value="@posts.target" />
                                </div>
                                <div class="donation-amount">
                                    <!--cho nay hien tien donate duoc hien tai-->
                                    <span>Achieved:</span>
                                    <h5>@Convert.ToInt64(ViewBag.sum).ToString("N0") VND</h5>
                                    <input type="hidden" id="amout" value="@ViewBag.sum" />
                                </div>
                                <div class="donation-amount">
                                    <!--cho nay hien tien con co the donate-->
                                    <span>Can donate:</span>
                                    <h5>@Convert.ToInt64(posts.target - ViewBag.sum).ToString("N0") VND</h5>
                                    <input type="hidden" id="balance" value="@(posts.target - ViewBag.sum)" />
                                </div>

                                <div class="progress">
                                    <!--cho nay hien thanh tien do-->
                                    <div class="progress-bar" style="width: @percent%">@percent%</div>
                                </div>

                            </div>


                            <hr>

                            <div class="mt-2 cusDONATE">

                                @if (Session["USER"] != null)
                                {
                                    <input type="number" class="moneyHoney" placeholder="10.000đ" name="transaction_amout" id="transaction_amout">

                                    <input type="hidden" name="id" id="idPost" value="@posts.id" />

                                    <button type="button" class="btn btn-primary btn-lg btn-flat" onclick="doDonate()">
                                        <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                        Donate
                                    </button>
                                }
                                else
                                {

                                    <h5>To donate. Please<a href="@Url.Content("~/Login")"> log in</a></h5>
                                }
                            </div>


                            <hr class="mt-5">

                            <div class="mt-4 product-share">
                                <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#shareEMAIL" aria-expanded="false" aria-controls="shareEMAIL">
                                    <i class="fa-solid fa-share-nodes mr-1"></i>
                                    Share
                                </button>
                                <div class="collapse" id="shareEMAIL">
                                    <div>
                                        <label>Enter recipient's email: </label>
                                        <input type="email" name="ReceiverEmail" id="ReceiverEmail" value="" class="receiver-email" />
                                        <input type="hidden" name="currentUrl" id="currentUrl" />
                                        <input type="hidden" id="titlePost" value="@posts.title" />

                                        <button class="btn btn-success mb-3" id="addBtn">add</button>
                                        <div id="input-container"></div>

                                        <div>
                                            <button class="btn btn-success mb-3" type="button" onclick="SharePost()">Chia sẻ</button>
                                        </div>


                                    </div>


                                </div>
                            </div>
                            <div class="infoALL">
                                <h3 class="text-primary"><img src="@Url.Content("~/Content/Images/partner/" + posts.partner.partner_image)" alt="Logo" class="img-size-64 mr-2 mt-2"> - @posts.partner.partner_name</h3>
                                <p class="text-muted">
                                    @posts.partner.description
                                </p>

                                <h5 class="mt-3 text-muted">Contact Info</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="" class="btn-link text-secondary">
                                            <i class="fas fa-home me-3 mr-2"></i>
                                            @posts.partner.address
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="btn-link text-secondary">
                                            <i class="fas fa-envelope me-3 mr-2"></i>
                                            @posts.partner.email
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="btn-link text-secondary">
                                            <i class="fas fa-phone me-3 mr-2"></i>@posts.partner.phone
                                        </a>
                                    </li>

                                </ul>
                                <!--partner context-->
                            </div>



                        </div>

                    </div>
                    <div class="row mt-4">
                        <nav class="w-100">
                            <!--cho nay nut nhan-->
                            <div class="nav nav-tabs" id="product-tab" role="tablist">
                                <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Content</a>
                                <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Donation list</a>
                            </div>
                        </nav>
                        <!--noi dung chi tiet-->
                        <div class="tab-content p-3 " id="nav-tabContent">
                            <div class="tab-pane fade show active" width="fit-content" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                                <div class="row">
                                    <!--Content CK build-->
                                    <div class="col-sm-12 contentCK">@Html.Raw(posts.content)</div>
                                </div>
                            </div>
                            <!--noi dung danh sach nguoi ung ho-->
                            <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                                <div class="table-responsive">
                                    <h3 class="cover-Title">List of supporters</h3>
                                    <div class="card-body COVER-card">
                                        <table class="table table-striped table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>Name of supporter</th>
                                                    <th>Amount of money</th>
                                                    <th>Date and time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in donater)
                                                {
                                                    <tr>
                                                        <td>@item.user.fullname</td>
                                                        <td>@Convert.ToInt64(item.transaction_amout).ToString("N0") VND</td>
                                                        <td>@item.transaction_date</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.card -->
        </div>

    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>

    var currentUrl = window.location.href;
    document.getElementById('currentUrl').value = currentUrl;

</script>