
@{
    ViewBag.Title = "DonationP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .carousel-caption {
        /* CSS cho thẻ <h5> */

        bottom: 90px;
    }

        .carousel-caption.d-none.d-md-block h5 {
            /* CSS cho thẻ <h5> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #00FF00;
        }

        .carousel-caption.d-none.d-md-block p {
            /* CSS cho thẻ <p> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 5px 5px 10px #00FF00;
        }


    .w-100 {
        /* kích thước thẻ slide index home */
        width: 100vw;
        height: 40vh;
        filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền làm mờ */
    }

    .widget-user .widget-user-image > img {
        /* kích thước logo card index home */
        width: 60px;
        height: 60px;
        position: relative;
        bottom: -300px;
        left: -100px;
    }

    .widget-user .widget-user-header {
        /* kích thước img background card index home */
        height: 400px;
    }


    .PageVIP {
        position: relative;
        left: 500px;
        margin: 4px 7px 2px 4px;
        margin-bottom: 10px;
    }

    .progress {
        width: 100%;
        background-color: #f3f3f3;
    }

    .progress-bar {
        width: 0%;
        background-color: #4caf50;
        text-align: center;
        line-height: 30px;
        color: white;
    }



    .content-vip {
        display: flex;
        justify-content: center;
        
    }

    .content-baby {
        flex: 1;
        text-align: center;
       
    }


    .nav-tabs .nav-item .nav-link.active {
        color: red; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 2px solid red; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: rgba(255, 255, 255, 0.2); /* Màu nền trong suốt đục đục khi kích hoạt */
    }



    .text-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 250px; /* Định nghĩa kích thước cố định của nội dung */
    }
</style>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/content/Images/2DV.gif")" class="d-block w-100" alt="anh 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Maxim of life</h5>
                    <p>Always be happy to make life happier</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/Xqg8.gif")" class="d-block w-100" alt="anh 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Truth of life</h5>
                    <p>We only live once in this world, why should we think so much?</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/YhSO.gif")" class="d-block w-100" alt="anh 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Things you never knew!!!</h5>
                    <p>Mr. Bin is a gay man and he likes girls</p>
                </div>
            </div>
        </div>

    </div>


    <!-- Content Header (Page header) -->
    <div class="content-header" style="width:100%">

        <div class="container">
            <div class="row mb-2">
                <div class="container">

                    <br>
                    <ul class="nav nav-tabs content-vip" role="tablist">
                        <li class="nav-item content-baby">
                            <a class="nav-link active" data-toggle="tab" href="#home">Dự án đang chạy</a>
                        </li>
                        <li class="nav-item content-baby">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Dự án đã kết thúc</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="width:100%">
                        <div id="home" class="container tab-pane active">
                            <br>
                            <div class="row mb-2">

                                <!--mot card-->
                                <!-- /.col -->

                                <div class="col-md-4">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="card card-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header text-white "
                                             style="background: url('@Url.Content("~/Content/Images/BinCute.jpg")') center center;">

                                            <h3 class="widget-user-username text-right">Tâm tư</h3>
                                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle logoBrandCard" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="container">
                                                    <a href="#">
                                                        <h4 class="text-ellipsis">
                                                            Hình ảnh Tóm tắt các ý chính và điều cần lưu ý cho trang web Give-AID của tổ chức                           phi chính phủ (N.G.O):Tóm
                                                            tắt các ý chính và điều cần lưu ý
                                                            cho trang web Give-AID của tổ chức phi chính                                                                    phủ (N.G.O):

                                                        </h4>
                                                    </a>

                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">900.000.000đ</h5>
                                                        <span class="description-text">Mục Tiêu</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:100%">70%</div>
                                                            </div>
                                                        </h5>
                                                        <span class="description-text">Tiến Độ</span>

                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">500.000.000đ</h5>
                                                        <span class="description-text">Đã Góp</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>


                                <!-- /.col -->
                                <!--mot card-->
                                <!-- /.col -->

                                <div class="col-md-4">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="card card-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header text-white "
                                             style="background: url('@Url.Content("~/Content/Images/BinCute.jpg")') center center;">

                                            <h3 class="widget-user-username text-right">Tâm tư</h3>
                                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle logoBrandCard" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="container">
                                                    <a href="#">
                                                        <h4 class="text-ellipsis">
                                                            Hình ảnh Tóm tắt các ý chính và điều cần lưu ý cho trang web Give-AID của tổ chức                           phi chính phủ (N.G.O):Tóm
                                                            tắt các ý chính và điều cần lưu ý
                                                            cho trang web Give-AID của tổ chức phi chính                                                                    phủ (N.G.O):

                                                        </h4>
                                                    </a>

                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">900.000.000đ</h5>
                                                        <span class="description-text">Mục Tiêu</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:100%">70%</div>
                                                            </div>
                                                        </h5>
                                                        <span class="description-text">Tiến Độ</span>

                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">500.000.000đ</h5>
                                                        <span class="description-text">Đã Góp</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>


                                <!-- /.col -->
                                <!--mot card-->
                                <!-- /.col -->

                                <div class="col-md-4">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="card card-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header text-white "
                                             style="background: url('@Url.Content("~/Content/Images/BinCute.jpg")') center center;">

                                            <h3 class="widget-user-username text-right">Tâm tư</h3>
                                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle logoBrandCard" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="container">
                                                    <a href="#">
                                                        <h4 class="text-ellipsis">
                                                            Hình ảnh Tóm tắt các ý chính và điều cần lưu ý cho trang web Give-AID của tổ chức                           phi chính phủ (N.G.O):Tóm
                                                            tắt các ý chính và điều cần lưu ý
                                                            cho trang web Give-AID của tổ chức phi chính                                                                    phủ (N.G.O):

                                                        </h4>
                                                    </a>

                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">900.000.000đ</h5>
                                                        <span class="description-text">Mục Tiêu</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:100%">70%</div>
                                                            </div>
                                                        </h5>
                                                        <span class="description-text">Tiến Độ</span>

                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">500.000.000đ</h5>
                                                        <span class="description-text">Đã Góp</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>


                                <!-- /.col -->



                            </div>
                        </div>
                        <div id="menu1" class="container tab-pane fade">
                            <br>
                            <div class="row mb-2">

                                <!--mot card-->
                                <!-- /.col -->

                                <div class="col-md-4">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="card card-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header text-white "
                                             style="background: url('@Url.Content("~/Content/Images/BinCute.jpg")') center center;">

                                            <h3 class="widget-user-username text-right">Tâm tư</h3>
                                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle logoBrandCard" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="container">
                                                    <a href="#">
                                                        <h4>
                                                            Sa chào cô chú

                                                        </h4>
                                                    </a>

                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">900.000.000đ</h5>
                                                        <span class="description-text">Mục Tiêu</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:70%">70%</div>
                                                            </div>
                                                        </h5>
                                                        <span class="description-text">Tiến Độ</span>

                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>

                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">500.000.000đ</h5>
                                                        <span class="description-text">Đã Góp</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>


                                <!-- /.col -->






                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>If you're still breathing, you're alive</h5>
                    <p>So don't forget to breathe</p>
                </div>
            </div>
        </div>

        <!-- /.content -->
    </div>
    <!-- Main content -->
</div>
<!-- Content Wrapper. Contains page content -->
