
@{
    ViewBag.Title = "DonationP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<GiveAID.Models.model_view.ViewPost> donation = new List<GiveAID.Models.model_view.ViewPost>();
    if (ViewBag.donation != null)
    {
        donation = ViewBag.donation;
    }

    List<GiveAID.Models.entities.banner> banners = new List<GiveAID.Models.entities.banner>();
    if(ViewBag.banner != null)
    {
        banners = ViewBag.banner;
    }

    var first = true;
}

<script>

    $(document).ready(function () {
        $('#filterSelect').on('change', function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '@Url.Action("FilterPost", "Home")',
                type: 'GET',
                data: { filter: selectedValue },
                success: function (response) {
                    $('#postContainer').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("An error occurred while filtering posts: ", error);
                }
            });
        });
    });

</script>

<style>


    .carousel-caption {
        /* CSS cho thẻ <h5> */

        bottom: 90px;
    }

        .carousel-caption.d-none.d-md-block h5 {
            /* CSS cho thẻ <h5> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #00FF00;
        }

        .carousel-caption.d-none.d-md-block p {
            /* CSS cho thẻ <p> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 5px 5px 10px #00FF00;
        }


    .w-100 {
        /* kích thước thẻ slide index home */
        width: 100vw;
        height: 40vh;
        filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền làm mờ */
    }

    .widget-user .widget-user-image > img {
        /* kích thước logo card index home */
        width: 60px;
        height: 60px;
        position: relative;
        bottom: -300px;
        left: -100px;
    }

    .widget-user .widget-user-header {
        /* kích thước img background card index home */
        height: 400px;
    }


    .widget-user .widget-user-username {
        /*mau cho linh vuc*/
        color: #FFB200;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #4CFFCC;
    }

    .widget-user .widget-user-desc {
        /*mau cho partner text*/
        color: #3D3D3D;
        font-weight: bold;
        text-shadow: 5px 5px 10px #E87CD1;
    }


    .PageVIP {
        position: relative;
        left: 500px;
        margin: 4px 7px 2px 4px;
        margin-bottom: 10px;
    }

    .progress {
        width: 100%;
        background-color: lightgray;
    }

    .custom-progress-bar {
        background-color: #FF66FF;
        /* Các thuộc tính khác tùy chỉnh */
    }



    .content-baby {
        text-align: center;
    }





    .nav-tabs .nav-item .nav-link.active {
        color: red; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 1px solid red; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: rgba(255, 255, 255, 0.2); /* Màu nền trong suốt đục đục khi kích hoạt */
    }



    .text-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 250px; /* Định nghĩa kích thước cố định của nội dung */
    }

    .description-block > .description-header {
        font-size: 12px;
    }
</style>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            @for (int i = 0; i < banners.Count(); i++)
            {
                <li data-target="#carouselExampleCaptions" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in banners)
            {
                <div class="carousel-item @(first ? "active" : "")">
                    <img src="@Url.Content("~/Content/Images/banner/" + item.banner_image)" class="d-block w-100" alt="anh 1">
                </div>
                first = false;
            }
        </div>

    </div>


    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Donate Post</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Donate</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->



    </div>

 

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid" style="display: flex; justify-content: center;">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="filterSelect">
                <option value="" selected>Filter by value</option>
                <option value="1">Projects was ended</option>
                <option value="2">Projects with the highest target</option>
                <option value="3">Projects with the lowest target</option>
            </select>
        </div>
        <!-- Tab panes -->

        <div class="tab-content" style="width:100%">
            <div id="running" class="container tab-pane active">
                <br>
                <div class="row mb-2" id="postContainer">

                    <!--mot card-->
                    <!-- /.col -->
                    @foreach (var item in donation)
                    {
                        <div class="col-md-4">
                            <!-- Widget: user widget style 1 -->
                            <div class="card card-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header text-white "
                                     style="background: url('@Url.Content("~/Content/Images/post/" + @item.image)') center center;">

                                    <h3 class="widget-user-username text-right">@item.cate_name</h3>
                                    <h5 class="widget-user-desc text-right">@item.partner_name</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle logoBrandCard" src="@Url.Content("~/content/images/partner/" + @item.partner_image)" alt="User Avatar">
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="container">
                                            <a href="@Url.Action("CardDetails", "Home")/@item.id">
                                                <h4 class="text-ellipsis">
                                                    @item.title

                                                </h4>
                                            </a>

                                        </div>

                                        <div class="col-sm-4 border-right">
                                            <!-- Mục tiêu -->
                                            <div class="description-block">
                                                <h5 class="description-header">@Convert.ToInt64(item.target).ToString("N0")đ</h5>
                                                <span class="description-text">Target</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">
                                                    <div class="progress">
                                                        <!-- Tiến độ -->
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated
                                                        custom-progress-bar" role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100"
                                                             style="width:@Convert.ToInt64((item.total / item.target)
                                                   * 100)%">
                                                            @Convert.ToInt64((item.total / item.target) * 100)%
                                                        </div>
                                                    </div>
                                                </h5>
                                                <span class="description-text">Progress</span>

                                            </div>
                                            <!-- /.description-block -->
                                        </div>

                                        <div class="col-sm-4 ">
                                            <div class="description-block">
                                                <h5 class="description-header">@Convert.ToInt64(item.total).ToString("N0")đ</h5>
                                                <span class="description-text">Donation</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    }

                </div>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>If you're still breathing, you're alive</h5>
                        <p>So don't forget to breathe</p>
                    </div>
                </div>
            </div>

            <!-- /.content -->
        </div>
        <!-- Main content -->
    </div>
    <!-- Content Wrapper. Contains page content -->
</div>