
@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GiveAID.Models.model_view.ViewPost> posts = new List<GiveAID.Models.model_view.ViewPost>();
    if (ViewBag.posts != null)
    {
        posts = ViewBag.posts;
    }
    int totalPages = ViewBag.TotalPages;

}

<style>


    .carousel-caption {
        /* CSS cho thẻ <h5> */

        bottom: 90px;
    }

        .carousel-caption.d-none.d-md-block h5 {
            /* CSS cho thẻ <h5> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #00FF00;
        }

        .carousel-caption.d-none.d-md-block p {
            /* CSS cho thẻ <p> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 5px 5px 10px #00FF00;
        }


    .w-100 {
        /* kích thước thẻ slide index home */
        width: 100vw;
        height: 40vh;
        filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền làm mờ */
    }

    .widget-user .widget-user-image > img {
        /* kích thước logo card index home */
        width: 60px;
        height: 60px;
        position: relative;
        bottom: -300px;
        left: -100px;
    }

    .widget-user .widget-user-header {
        /* kích thước img background card index home */
        height: 400px;
    }

    .widget-user .widget-user-username {
        /*mau cho linh vuc*/
        color: #FFB200;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #4CFFCC;
    }
    .widget-user .widget-user-desc {
        /*mau cho partner text*/
        color: #3D3D3D;
        font-weight: bold;
        text-shadow: 5px 5px 10px #E87CD1;
    }



    .PageVIP {
        position: relative;
        left: 500px;
        margin: 4px 7px 2px 4px;
        margin-bottom: 10px;
    }

    .progress {
        width: 100%;
        background-color: lightgray;
    }

    .custom-progress-bar {
        background-color: #FF66FF;
        /* Các thuộc tính khác tùy chỉnh */
    }



    .text-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 250px; /* Định nghĩa kích thước cố định của nội dung */
    }
    .description-block > .description-header {
        font-size: 14px;
 
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- SLIDE IMAGE -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/content/Images/anhSlide1.png")" class="d-block w-100" alt="anh 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Maxim of life</h5>
                    <p>Always be happy to make life happier</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/anhSlide2.png")" class="d-block w-100" alt="anh 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Truth of life</h5>
                    <p>We only live once in this world, why should we think so much?</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/2DV.gif")" class="d-block w-100" alt="anh 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Things you never knew!!!</h5>
                    <p>Mr. Bin is a gay man and he likes girls</p>
                </div>
            </div>
        </div>

    </div>


    <!-- Content Header (Page header) -->
    <div class="content-header">

        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Home <small></small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item active"></li>*@
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row mb-2">

                <!--mot card-->
                <!-- /.col -->
                @foreach (var item in posts)
                {
                    <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="card card-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header text-white " alt="Ảnh đại diện"
                                 style="        background: url('@Url.Content("~/Content/Images/post/" + item.image)') no-repeat center;">

                                <h3 class="widget-user-username text-right">@item.cate_name</h3>
                                <h5 class="widget-user-desc text-right">@item.partner_name</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle logoBrandCard" src="@Url.Content("~/Content/Images/partner/" + item.partner_image)" alt="User Avatar">
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="container">
                                        <a href="@Url.Action("CardDetails","Home")/@item.id">
                                            <h4 class="text-ellipsis">
                                                @item.title

                                            </h4>
                                        </a>

                                    </div>

                                    <div class="col-sm-4 border-right">
                                        <!-- Mục tiêu -->
                                        <div class="description-block">
                                            <h5 class="description-header">@Convert.ToInt64(item.target).ToString("N0")đ</h5>
                                            <span class="description-text">Target</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>

                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">
                                                <!-- Tiến độ -->
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated custom-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                         style="width:@Convert.ToInt64((item.total/item.target)*100)%">
                                                        <span class="">@(Convert.ToInt64((item.total/item.target)*100))%</span>
                                                    </div>
                                                </div>
                                            </h5>
                                            <span class="description-text">Progress</span>

                                        </div>
                                        <!-- /.description-block -->
                                    </div>

                                    <div class="col-sm-4 ">
                                        <div class="description-block">
                                            <!-- đã quyên góp -->
                                            <h5 class="description-header">@Convert.ToInt64(item.total).ToString("N0")đ</h5>
                                            <span class="description-text">Donation</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>

                }
                <!-- /.col -->






            </div>




            <div class="container PageVIP">
                <!--Phan trang-->
                <nav aria-label="Page navigation example">


                    <ul class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.RouteUrl("PagedPosts", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }

                        @for (int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@Url.RouteUrl("PagedPosts", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.RouteUrl("PagedPosts", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>

            </div>
            @*<div class="description-block">
                    <h5 class="description-header">
                        <div class="progress">
                            <div id="myProgressBar" class="progress-bar progress-bar-striped bg-success" role="progressbar">0%</div>
                        </div>
                    </h5>
                    <span class="description-text">Tiến Độ</span>

                    <input type="number" id="progressInput" min="0" max="100" value="0" oninput="updateProgressBar()" />
                </div>*@










            <!-- /.container-fluid -->


        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>If you're still breathing, you're alive</h5>
                    <p>So don't forget to breathe</p>
                </div>
            </div>
        </div>

        <!-- /.content -->
    </div>
    <!-- Main content -->
</div>

