
@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GiveAID.Models.entities.post> posts = new List<GiveAID.Models.entities.post>();
    if (ViewBag.posts != null)
    {
        posts = ViewBag.posts;
    }
}

<style>

    /*logo card*/
    .logo-overlay {
        position: absolute;
        bottom: -15px;
        left: 20px;
    }

    .small-text {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: crimson;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/content/Images/2DV.gif")" alt="Los Angeles">
                <div class="carousel-caption center-caption">
                    <h3>Chữ bự</h3>
                    <p>Some text for slide 1</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/Xqg8.gif")" alt="Chicago">
                <div class="carousel-caption center-caption">
                    <h3>Chữ nè bay</h3>
                    <p>Some text for slide 1</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/content/Images/YhSO.gif")" alt="New York">
                <div class="carousel-caption center-caption">
                    <h3>Chữ nữa nè</h3>
                    <p>Some text for slide 1</p>
                </div>
            </div>
        </div>



    </div>


    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Home <small>Version 3.0</small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item"><a href="#"></a></li>
                            <li class="breadcrumb-item active"></li>*@
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row mb-2">

                <!--mot card-->
                <!-- /.col -->
                @foreach (var item in posts)
                {
                    <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="card card-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header text-white "
                                 style="background: url('@Url.Content("~/Content/Images/" + item.image)') center center;">

                                <h3 class="widget-user-username text-right">@item.category.name</h3>
                                <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <a href="@Url.Action("CardDetails","Home")/@item.id"> <h4>@item.title</h4></a>
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">@(item.target)đ</h5>
                                            <span class="description-text">Mục Tiêu</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">50.000.000đ</h5>
                                            <span class="description-text">Đã Góp</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">
                                                <div class="progress">
                                                    <div class="progress-bar" style="width:70%">70%</div>
                                                </div>
                                            </h5>
                                            <span class="description-text">Tiến Độ</span>

                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                }
                <!-- /.col -->
                <!--Mot card-->
                <!-- /.col -->
                <!--<div class="col-md-4">-->
                    <!-- Widget: user widget style 1 -->
                    <!--<div class="card card-widget widget-user">-->
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <!--<div class="widget-user-header text-white "
                             style="background: url('@Url.Content("~/content/dist/img/photo1.png")') center center;">

                            <h3 class="widget-user-username text-right">Y Tế</h3>
                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <h4>Cho hạt nảy mầm: Gây quỹ trao 20 suất học bổng TÀI CHÍNH – KIẾN THỨC – KỸ NĂNG cho các em học sinh khó khăn, hiếu học tại Bến Tre</h4>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">100.000.000đ</h5>
                                        <span class="description-text">Mục Tiêu</span>
                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                                <!--<div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">50.000.000đ</h5>
                                        <span class="description-text">Đã Góp</span>
                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                                <!--<div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">
                                            <div class="progress">
                                                <div class="progress-bar" style="width:70%">70%</div>
                                            </div>
                                        </h5>
                                        <span class="description-text">Tiến Độ</span>

                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                            <!--</div>-->
                            <!-- /.row -->
                        <!--</div>
                    </div>-->
                    <!-- /.widget-user -->
                <!--</div>-->
                <!-- /.col -->
                <!--Mot card-->
                <!-- /.col -->
                <!--<div class="col-md-4">-->
                    <!-- Widget: user widget style 1 -->
                    <!--<div class="card card-widget widget-user">-->
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <!--<div class="widget-user-header text-white "
                             style="background: url('@Url.Content("~/content/dist/img/photo1.png")') center center;">

                            <h3 class="widget-user-username text-right">Y Tế</h3>
                            <h5 class="widget-user-desc text-right">Từ Thiện Vui Vẻ</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="@Url.Content("~/content/dist/img/user3-128x128.jpg")" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <h4>Cho hạt nảy mầm: Gây quỹ trao 20 suất học bổng TÀI CHÍNH – KIẾN THỨC – KỸ NĂNG cho các em học sinh khó khăn, hiếu học tại Bến Tre</h4>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">100.000.000đ</h5>
                                        <span class="description-text">Mục Tiêu</span>
                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                                <!--<div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">50.000.000đ</h5>
                                        <span class="description-text">Đã Góp</span>
                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                                <!--<div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">
                                            <div class="progress">
                                                <div class="progress-bar" style="width:70%">70%</div>
                                            </div>
                                        </h5>
                                        <span class="description-text">Tiến Độ</span>

                                    </div>-->
                                    <!-- /.description-block -->
                                <!--</div>-->
                                <!-- /.col -->
                            <!--</div>-->
                            <!-- /.row -->
                        <!--</div>
                    </div>-->
                    <!-- /.widget-user -->
                <!--</div>-->
                <!-- /.col -->
            <!--</div>-->
            <!-- /.row -->



            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="@Url.Content("~/content/Images/2DV.gif")" alt="Los Angeles">
                    <div class="carousel-caption center-caption">
                        <h3>Chữ bự</h3>
                        <p>Some text for slide 1</p>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->


    </div>
    <!-- /.content -->



</div>
