
@{
    ViewBag.Title = "InfoUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var infor = ViewBag.infor as GiveAID.Models.entities.user;
    List<GiveAID.Models.entities.payment> donate = new List<GiveAID.Models.entities.payment>();
    if (ViewBag.donate != null)
    {
        donate = ViewBag.donate;
    }
}

<script>
    function EditUser() {
        var data = document.getElementById('formEditUser');
        var form = new FormData(data);

        $.ajax({
            type: 'POST',
            data: form,
            contentType: false,
            processData: false,
            url:'@Url.Action("EditUser", "Home")',
            success: function (response) {
                if (response.result == true) {
                    showSuccessMessage("Cập nhật thông tin thành công");

                    $('#profileImage').attr('src', '@Url.Content("~/Content/Images/user/")' + response.data.image);
                    $('#profileName').text(response.data.fullname);
                    $('#profilePhone').text(response.data.phone);
                    $('#profileEmail').text(response.data.email);
                    $('#profileAddress').text(response.data.address);

                    $('.collapse').css({ 'display': 'none' });
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        })
    }

    function previewThumbnail(event) {
        var input = event.target;
        var imagesPreview = document.getElementById('thumb');
        imagesPreview.innerHTML = ''; // Clear any previous images

        if (input.files) {
            var filesAmount = input.files.length;

            for (let i = 0; i < filesAmount; i++) {
                let file = input.files[i];
                let reader = new FileReader();

                reader.onload = function (e) {
                    let imgContainer = document.createElement('div');
                    imgContainer.style.position = 'relative';
                    imgContainer.style.display = 'inline-block';
                    imgContainer.style.marginRight = '10px';
                    imgContainer.style.marginBottom = '10px';

                    let img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px';
                    img.style.maxHeight = '200px';

                    let removeButton = document.createElement('button');
                    removeButton.innerHTML = 'X';
                    removeButton.style.position = 'absolute';
                    removeButton.style.top = '5px';
                    removeButton.style.right = '5px';
                    removeButton.style.backgroundColor = 'red';
                    removeButton.style.color = 'white';
                    removeButton.style.border = 'none';
                    removeButton.style.borderRadius = '50%';
                    removeButton.style.cursor = 'pointer';

                    removeButton.onclick = function () {
                        imgContainer.remove();
                        // Remove the file from the input element
                        var dt = new DataTransfer();
                        for (var j = 0; j < input.files.length; j++) {
                            if (input.files[j] !== file) {
                                dt.items.add(input.files[j]);
                            }
                        }
                        input.files = dt.files;
                    };

                    imgContainer.appendChild(img);
                    imgContainer.appendChild(removeButton);
                    imagesPreview.appendChild(imgContainer);
                }

                reader.readAsDataURL(file);
            }
        }
    }
</script>

<style>
    .rowInfo {
        position: relative;
        left: 500px;
    }

    .cusHistDonate {
        position: relative;
        left: 700px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row rowInfo">



                <div class="col-md-4">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <h3>Profile</h3>
                                <img class="profile-user-img img-fluid img-circle" id="profileImage"
                                     src="@Url.Content("~/Content/Images/user/" + infor.image)"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center" id="profileName">@infor.fullname</h3>

                            <p class="text-muted text-center">@infor.gender</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Số điện thoại:</b> <span class="float-right mr-3" id="profilePhone">@infor.phone</span>
                                </li>
                                <li class="list-group-item">

                                    <b>Email</b> <span class="float-right mr-3" id="profileEmail">@infor.email</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Địa chỉ</b><span class="float-lg-right mr-3" id="profileAddress">@infor.address</span>
                                </li>
                            </ul>
                            <div class="container-fluid">

                                <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#DONATE" aria-expanded="false" aria-controls="collapseExample">
                                    Lịch sử Donate
                                </button>


                                <!-- /.Sua thong tin -->
                                <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="editBtn">
                                    Sửa thông tin
                                </button>

                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <form action="javascript:EditUser();" method="post" id="formEditUser">
                                            <h3 class="profile-username text-center"><input type="text" name="fullname" style="text-align:center" value="@infor.fullname" /></h3>

                                            <label for="thumbnail" class="cusFILE"><i class="fa-solid fa-upload mr-1"></i>Choose your avatar</label>
                                            @*<div class="filename-container">Enter a filename...</div>*@
                                            <input type="file" class="form-control" id="thumbnail" name="thumbnail" onchange="previewThumbnail(event)">
                                            <div id="thumb"></div>

                                            <p class="text-muted text-center">@infor.gender</p>

                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <b>Số điện thoại</b> <input style="text-align:center" class="float-right" value="@infor.phone" name="phone" />
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Email</b> <input class="float-right" style="text-align:center" value="@infor.email" name="email" />
                                                </li>
                                                <li class="list-group-item">
                                                    <b>Địa chỉ</b> <textarea class="float-right" name="address">@infor.address</textarea>
                                                </li>
                                            </ul>
                                            <button type="submit" class="btn btn-primary btn-block"><b>Sao lưu</b></button>.
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- /.card-body -->
                    </div>



                    <!-- /.card -->
                </div>

                <div class="collapse cusHisDonate" id="DONATE">
                    <table class="table table-striped table-bordered ">
                        <h1>Lịch sử Donate</h1>
                        <thead>
                            <tr>
                                <th>Số tiền</th>
                                <th>Bài viết</th>
                                <th>Ngày và giờ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in donate)
                            {
                                <tr>
                                    <td>@Convert.ToInt64(item.transaction_amout).ToString("N0") VND</td>
                                    <td><a href="@Url.Action("CardDetails", "Home")/@item.post_id">@item.post.title</a></td>
                                    <td>@item.transaction_date</td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>
</div>