
@{
    ViewBag.Title = "InfoUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var infor = ViewBag.infor as GiveAID.Models.entities.user;
}

<script>
    function EditUser() {
        var json = getFormObj("formEditUser");

        $.ajax({
            type: 'POST',
            data: json,
            dataType: 'json',
            url:'@Url.Action("EditUser", "Home")',
            success: function (response) {
                if (response.result == true) {
                    showSuccessMessage("Cập nhật thông tin thành công");
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        })
    }
</script>

<style>
    .rowInfo {
        position: relative;
        left: 500px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row rowInfo">

               

                <div class="col-md-4">
                   
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <h3>Profile</h3>
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="@Url.Content("~/Content/Images/BinCute.jpg")"
                                         alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">@infor.fullname</h3>

                                <p class="text-muted text-center">@infor.gender</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Số điện thoại:</b> <span class="float-right mr-3">@infor.phone</span>
                                    </li>
                                    <li class="list-group-item">
                                        
                                        <b>Email</b> <span class="float-right mr-3">@infor.email</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Địa chỉ</b><span class="float-lg-right mr-3">@infor.address</span>
                                    </li>
                                </ul>
                                <div class="container-fluid">
                                    <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Sửa thông tin
                                    </button>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <form action="javascript:EditUser();" method="post" id="formEditUser">
                                                <h3 class="profile-username text-center"><input type="text" name="fullname" style="text-align:center" value="@infor.fullname" /></h3>

                                                <p class="text-muted text-center">@infor.gender</p>

                                                <ul class="list-group list-group-unbordered mb-3">
                                                    <li class="list-group-item">
                                                        <b>Số điện thoại</b> <input style="text-align:center" class="float-right" value="@infor.phone" name="phone" />
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Email</b> <input class="float-right" style="text-align:center" value="@infor.email" name="email" />
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Địa chỉ</b> <textarea class="float-right" name="address">@infor.address</textarea>
                                                    </li>
                                                </ul>
                                                <button type="submit" class="btn btn-primary btn-block"><b>Sao lưu</b></button>.
                                            </form>
                                        </div>
                                    </div>
                                </div>

                             
                            </div>
                            <!-- /.card-body -->
                        </div>

                  
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>