
@{
    ViewBag.Title = "InfoUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var infor = ViewBag.infor as GiveAID.Models.entities.user;
    List<GiveAID.Models.entities.payment> donate = new List<GiveAID.Models.entities.payment>();
    if (ViewBag.donate != null)
    {
        donate = ViewBag.donate;
    }
}

<script>
    function EditUser() {
        var data = document.getElementById('formEditUser');
        var form = new FormData(data);

        $.ajax({
            type: 'POST',
            data: form,
            contentType: false,
            processData: false,
            url:'@Url.Action("EditUser", "Home")',
            success: function (response) {
                if (response.result == true) {
                    location.reload();
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        })
    }

    function previewThumbnail(event) {
        var input = event.target;
        var imagesPreview = document.getElementById('thumb');
        imagesPreview.innerHTML = ''; // Clear any previous images

        if (input.files) {
            var filesAmount = input.files.length;

            for (let i = 0; i < filesAmount; i++) {
                let file = input.files[i];
                let reader = new FileReader();

                reader.onload = function (e) {
                    let imgContainer = document.createElement('div');
                    imgContainer.style.position = 'relative';
                    imgContainer.style.display = 'inline-block';
                    imgContainer.style.marginRight = '10px';
                    imgContainer.style.marginBottom = '10px';

                    let img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '150px';
                    img.style.maxHeight = '150px';

                    let removeButton = document.createElement('button');
                    removeButton.innerHTML = 'X';
                    removeButton.style.position = 'absolute';
                    removeButton.style.top = '5px';
                    removeButton.style.right = '5px';
                    removeButton.style.backgroundColor = 'red';
                    removeButton.style.color = 'white';
                    removeButton.style.border = 'none';
                    removeButton.style.borderRadius = '50%';
                    removeButton.style.cursor = 'pointer';

                    removeButton.onclick = function () {
                        imgContainer.remove();
                        // Remove the file from the input element
                        var dt = new DataTransfer();
                        for (var j = 0; j < input.files.length; j++) {
                            if (input.files[j] !== file) {
                                dt.items.add(input.files[j]);
                            }
                        }
                        input.files = dt.files;
                    };

                    imgContainer.appendChild(img);
                    imgContainer.appendChild(removeButton);
                    imagesPreview.appendChild(imgContainer);
                }

                reader.readAsDataURL(file);
            }
        }
    }
    // label chosefile for thumbnail
    $(document).ready(function () {
        $("#thumbnail").change(function () {
            filename = this.files[0].name;
            $(".filename-container").text(filename);
        });
    });
    
</script>




<style>
    .card-style {
        width: 600px;
    }

    input[type="file"] {
        visibility: hidden;
        /*an nut mac dinh di*/
    }

    .filename-container.placeholder {
        color: #999; /*thumbnail*/
        font-style: italic;
    }

    .cusFILE {
        /*custom nut chon file*/
        color: #333;
        padding: 10px 20px;
        background-color: #f1f1f1;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .cusFILE:hover {
            background-color: hotpink;
        }

    .filename-container
   {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #333333;
    }

    .infoDO{
        color:darkblue;
        text-transform:uppercase;
    }
    .infoDO:hover{
       color:hotpink;
      
    }
                                             
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 HOME">InforUser</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">InforUser</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12" style=" display: flex; justify-content: center; align-items: center;">
                <div class="card card-style">
                    <div class="card-header bg-gradient-olive">
                        <h3>Profile</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4 mt-3 border-right">
                                        <div class="row text-center">
                                            <div class="col-sm-12">
                                                <img class="profile-user-img img-fluid img-circle" id="profileImage" src="@Url.Content("~/Content/Images/user/" + infor.image)"
                                                     alt="User profile picture">
                                            </div>
                                            <div class="col-sm-12">
                                                <p class=""><b>@infor.fullname</b></p>
                                                <p class="text-muted text-center">@infor.gender</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-7 text-left ml-2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <b>Phone number:</b> <span class="" id="profilePhone">@infor.phone</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <b>Email:</b> <span class="" id="profileEmail">@infor.email</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <b>Address:</b> <span class="" id="profileAddress">@infor.address</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 col-6 text-center border-right">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <button class="btn btn-transparent" data-toggle="modal" data-target="#information">  <img src="@Url.Content("~/Content/Images/IconMUNE/information.png")" style="width:35px;height:35px;" data-toggle="tooltip" data-placement="top" title="Edit information"></button>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <p style="font-size:12px;"><b>Edit information</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-6 text-center">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <button class="btn btn-transparent" data-toggle="modal" data-target="#historyDonate">  <img src="@Url.Content("~/Content/Images/IconMUNE/time.png")" style="width:35px;height:35px;" data-toggle="tooltip" data-placement="top" title="Donation history"></button>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <p style="font-size:12px;"><b>Donation history</b></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--modal infomation edit-->
        <div class="modal fade" id="information" tabindex="-1" role="dialog" aria-labelledby="information" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h5 class="modal-title">Edit infomation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa-regular fa-rectangle-xmark"></i> 
                        </button>
                    </div>
                    <form action="javascript:EditUser();" method="post" id="formEditUser">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 col-6 border-right">
                                            <div class="row text-left ">
                                                <div class="col-sm-12">
                                                    <p><b>Full name:</b><input type="text" name="fullname" value="@infor.fullname" /></p>
                                                    <p class="text-muted text-center">@infor.gender</p>
                                                </div>
                                                <div class="col-sm-12">
                                                    <p><b>Phone:</b><input type="text" value="@infor.phone" name="phone" /></p>
                                                </div>
                                                <div class="col-sm-12">
                                                    <p><b>Email:</b> <input type="email" value="@infor.email" name="email" /></p>
                                                </div>
                                                <div class="col-sm-12">
                                                    <p><b>Address:</b></p>
                                                    <textarea name="address">@infor.address</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <div class="text-center">
                                                <!-- choose file img-->
                                                <label for="thumbnail" class="cusFILE"><i class="fa-solid fa-upload mr-1"></i>Choose your avatar</label>
                                                <input type="file" class="form-control" id="thumbnail" name="thumbnail" onchange="previewThumbnail(event)">
                                                <div class="filename-container"></div>
                                            </div>
                                            <!-- view file img-->
                                            <div class="viewBefore text-center">
                                                <h5><label for="thumb">Preview</label></h5>
                                                <div id="thumb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer bg-olive">
                            <button type="submit" class="btn bg-gradient-gray-dark"><i class="fa-regular fa-floppy-disk mr-2"></i><b>Save</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <!--modal history donate-->
        <div class="modal fade" id="historyDonate" tabindex="-1" role="dialog" aria-labelledby="historyDonate" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h5 class="modal-title">Donation History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa-regular fa-rectangle-xmark"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive-lg">
                            <table class="table table-hover" style="width:100%;">
                                <thead class="bg-gradient-navy">
                                    <tr class="text-center">
                                        <th style="width:50%;">Posts</th>
                                        <th>Donations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in donate)
                                    {

                                        <tr>
                                            <td class="text-left">
                                                <a class="infoDO" href="@Url.Action("CardDetails", "Home")/@item.post_id">
                                                    <p class="">@item.post.title</p>
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                <div class="col-sm-12">
                                                    @Convert.ToInt64(item.transaction_amout).ToString("N0")VND
                                                </div>
                                           <sup class="text-muted">@item.transaction_date</sup></td>
                                           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer bg-olive">

                    </div>
                </div>
            </div>
        </div>

       






    </div>
</div>