
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.data as GiveAID.Models.entities.payment;
}

<style>
    .card-img-top{
        width:500px;
        height:200px;
        margin:auto;
        padding:10px;
    }
    .CusTitle {
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
    }
    .cusBodycard {
      text-align:center;
    }
</style>


<div class="content-wrapper">

    <section class="content">
     

     
        <div class="card mb-2 mt-2">
            <img class="card-img-top" src="@Url.Content("~/Content/Images/LogoGive2.png")" alt="Card image cap">
            <h3 class="card-title CusTitle">Thư Cảm Ơn</h3>
            <div class="card-body cusBodycard">
                <p class="card-text">
                    Cám ơn <b>@data.user.fullname</b> đã ủng hộ <b>@Convert.ToInt64(data.transaction_amout).ToString("N0") VND</b>
                </p>
                <p class="card-text">
                    Cho bài viết <b>@data.post.title</b> của chúng tôi.
                   
                </p>
                <p class="card-text">
                   
                    Đây là mã tra cứu thông tin giao dịch của bạn <b>@data.banktran_no</b>.
                </p>
                <p class="card-text"><small class="text-muted"><button type="button" class="btn btn-outline-dark"><a href="@Url.RouteUrl("ViewHome")">Trở vè nhà nào</a></button></small></p>
            </div>
        </div>


    </section>



           
        </div>
