
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.data as GiveAID.Models.entities.payment;
}

<style>
    /*  .cardRE {
        animation: loaderAnimation 10s ease-in-out;
        background: rgba( 255, 255, 255, .8 );
        overflow: hidden;
        position: fixed;
        z-index: 1000;
        top: 100px;
        left: 400px;
        height: 50vh;
        width: 50vw;
        display: block;
    }*/

    .cardRE {
        animation: loaderAnimation 5s ease-in-out;
        background: rgba(255, 255, 255, 0.8);
        /* Các thuộc tính khác */
        width: 500px;
        height: 200px;
        top: 1px;
        left: 550px;
        z-index: 1000;
    }

   
    .blur-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        filter: blur(10px);
        z-index: 999;
    }

 
</style>

<div class="blur-background"></div>
<div class="content-wrapper">

    <section class="content">
        <div class="container">
            <h1>Helllo</h1>
            <h2>Chào cậu</h2>
            <h3>Trái tìm cậu thật ấm áp</h3>
            <button type="button" class="btn btn-outline-dark"><a href="@Url.RouteUrl("ViewHome")">Trở vè nhà nào</a></button>
        </div>
        
        <div>Cám ơn <b>@data.user.fullname</b> đã ủng hộ <b>@Convert.ToInt64(data.transaction_amout).ToString("N0") VND</b> cho bài viết <b>@data.post.title</b> của chúng tôi. Đây là mã tra cứu thông tin giao dịch của bạn <b>@data.banktran_no</b></div>

    </section>



           
        </div>
