
@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<GiveAID.Models.entities.category> categories = new List<GiveAID.Models.entities.category>();
    if (ViewBag.category != null)
    {
        categories = ViewBag.category;
    }

    List<GiveAID.Models.entities.partner> partners = new List<GiveAID.Models.entities.partner>();
    if(ViewBag.partner != null)
    {
        partners = ViewBag.partner;
    }
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');

        $(document).ready(function (e) {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                var dt = CKEDITOR.instances['content'].getData();
                $('#MoTa').val(dt);

                $('#formTinTuc').submit();
            })
        })
        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, nên cần +1
        var year = currentDate.getFullYear();

        // Định dạng ngày tháng
        var formattedDate = year + "-" + month + "-" + day;

        document.getElementById("time_start").value = formattedDate;
        
        function doSubmitNews() {
            var form = document.getElementById("formTinTuc");
            var formData = new FormData(form);
            VipaddClass("loading");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SubmitNews", "Admin")',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.result == true) {
                        VipremoveClass("loading");
                        showSuccessMessage("Tạo mới thành công");
                        form.reset();
                    } else {
                        VipremoveClass("loading");
                        showErrorMessage(response.error);
                    }
                },
                error: handleException
            })
        }

        function previewImages(event) {
            var input = event.target;
            var imagesPreview = document.getElementById('imagesPreview');
            imagesPreview.innerHTML = ''; // Clear any previous images

            if (input.files) {
                var filesAmount = input.files.length;

                for (let i = 0; i < filesAmount; i++) {
                    let file = input.files[i];
                    let reader = new FileReader();

                    reader.onload = function (e) {
                        let imgContainer = document.createElement('div');
                        imgContainer.style.position = 'relative';
                        imgContainer.style.display = 'inline-block';
                        imgContainer.style.marginRight = '10px';
                        imgContainer.style.marginBottom = '10px';

                        let img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.maxWidth = '200px';
                        img.style.maxHeight = '200px';

                        let removeButton = document.createElement('button');
                        removeButton.innerHTML = 'X';
                        removeButton.style.position = 'absolute';
                        removeButton.style.top = '5px';
                        removeButton.style.right = '5px';
                        removeButton.style.backgroundColor = 'red';
                        removeButton.style.color = 'white';
                        removeButton.style.border = 'none';
                        removeButton.style.borderRadius = '50%';
                        removeButton.style.cursor = 'pointer';

                        removeButton.onclick = function () {
                            imgContainer.remove();
                            // Remove the file from the input element
                            var dt = new DataTransfer();
                            for (var j = 0; j < input.files.length; j++) {
                                if (input.files[j] !== file) {
                                    dt.items.add(input.files[j]);
                                }
                            }
                            input.files = dt.files;
                        };

                        imgContainer.appendChild(img);
                        imgContainer.appendChild(removeButton);
                        imagesPreview.appendChild(imgContainer);
                    }

                    reader.readAsDataURL(file);
                }
            }
        }

        function previewThumbnail(event) {
            var input = event.target;
            var imagesPreview = document.getElementById('thumb');
            imagesPreview.innerHTML = ''; // Clear any previous images

            if (input.files) {
                var filesAmount = input.files.length;

                for (let i = 0; i < filesAmount; i++) {
                    let file = input.files[i];
                    let reader = new FileReader();

                    reader.onload = function (e) {
                        let imgContainer = document.createElement('div');
                        imgContainer.style.position = 'relative';
                        imgContainer.style.display = 'inline-block';
                        imgContainer.style.marginRight = '10px';
                        imgContainer.style.marginBottom = '10px';

                        let img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.maxWidth = '200px';
                        img.style.maxHeight = '200px';

                        let removeButton = document.createElement('button');
                        removeButton.innerHTML = 'X';
                        removeButton.style.position = 'absolute';
                        removeButton.style.top = '5px';
                        removeButton.style.right = '5px';
                        removeButton.style.backgroundColor = 'red';
                        removeButton.style.color = 'white';
                        removeButton.style.border = 'none';
                        removeButton.style.borderRadius = '50%';
                        removeButton.style.cursor = 'pointer';

                        removeButton.onclick = function () {
                            imgContainer.remove();
                            // Remove the file from the input element
                            var dt = new DataTransfer();
                            for (var j = 0; j < input.files.length; j++) {
                                if (input.files[j] !== file) {
                                    dt.items.add(input.files[j]);
                                }
                            }
                            input.files = dt.files;
                        };

                        imgContainer.appendChild(img);
                        imgContainer.appendChild(removeButton);
                        imagesPreview.appendChild(imgContainer);
                    }

                    reader.readAsDataURL(file);
                }
            }
        }
    </script>
}

<div class="content-wrapper">

    <div class="card-header">
        <h4 class="card-title">Create News</h4>
    </div>
    <!-- /.card-header -->

    <!--Load GIF-->
    <div class="modalLoading"></div>



    <!-- form start -->
    <form id="formTinTuc" action="javascript:doSubmitNews();" method="post" enctype="multipart/form-data">
        <div class="card-body mx-auto">
            <div class="form-group">
                <label for="Tiêu Đề">Tiêu Đề</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu Đề" required>
            </div>

            @*<div class="form-group">
            <label for="description">Mô tả ngắn gọn</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="phần mô tả này được hiển thị bên dưới tiêu đề trên trang chính" required>
        </div>*@

        <div class="form-group">
            <label for="fileBase">Ảnh nền</label>


            <input type="file" class="form-control" id="thumbnail" name="thumbnail" required onchange="previewThumbnail(event)">
            <div id="thumb" style="margin-top: 10px;"></div>

        </div>

        <div class="form-group">
            <label for="fileBase">Hình ảnh liên quan</label>


            <input type="file" class="form-control" id="fileBase" name="fileBase" required multiple onchange="previewImages(event)">
            <div id="imagesPreview" style="margin-top: 10px;"></div>

        </div>

            <input type="hidden" id="time_start" name="time_start" value="" />

            @*<input type="hidden" name="TrangThai" value="Mở" />*@

            <div class="form-group">
                <label for="target">Số tiền mục tiêu</label>
                <input type="number" class="form-control" id="target" name="target" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="content">Nội dung bài viết</label>
                <input type="text" class="form-control" id="content" placeholder="Nội dung bài viết" required>
            </div>

            <div>
                <input type="hidden" name="content" id="MoTa" />
            </div>

            <div class="form-group">
                <label>Lĩnh vực</label>
                <select class="form-control" name="cate_id">
                    @foreach (var item in categories)
                    {
                        <option value="@item.cate_id">@item.name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Đối tác</label>
                <select class="form-control" name="partner_id">
                    @foreach (var item in partners)
                    {
                        <option value="@item.id">@item.partner_name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="time_end">Ngày kết thúc quyên góp</label>
                <input type="date" class="form-control" id="time_end" name="time_end" required>
            </div>


        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" id="btnSubmit" class="btn btn-primary" value="Save">Lưu</button>
        </div>
    </form>
</div>
<!-- /.card -->
