
@{
    ViewBag.Title = "EditHome";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var partner = ViewBag.partner as GiveAID.Models.entities.partner;
}

<script>
    function previewImages(event) {
        var input = event.target;
        var imagesPreview = document.getElementById('imagesPreview');
        imagesPreview.innerHTML = ''; // Clear any previous images

        if (input.files) {
            var filesAmount = input.files.length;

            for (let i = 0; i < filesAmount; i++) {
                let file = input.files[i];
                let reader = new FileReader();

                reader.onload = function (e) {
                    let imgContainer = document.createElement('div');
                    imgContainer.style.position = 'relative';
                    imgContainer.style.display = 'inline-block';
                    imgContainer.style.marginRight = '10px';
                    imgContainer.style.marginBottom = '10px';

                    let img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px';
                    img.style.maxHeight = '200px';

                    let removeButton = document.createElement('button');
                    removeButton.innerHTML = 'X';
                    removeButton.style.position = 'absolute';
                    removeButton.style.top = '5px';
                    removeButton.style.right = '5px';
                    removeButton.style.backgroundColor = 'red';
                    removeButton.style.color = 'white';
                    removeButton.style.border = 'none';
                    removeButton.style.borderRadius = '50%';
                    removeButton.style.cursor = 'pointer';

                    removeButton.onclick = function () {
                        imgContainer.remove();
                        // Remove the file from the input element
                        var dt = new DataTransfer();
                        for (var j = 0; j < input.files.length; j++) {
                            if (input.files[j] !== file) {
                                dt.items.add(input.files[j]);
                            }
                        }
                        input.files = dt.files;
                    };

                    imgContainer.appendChild(img);
                    imgContainer.appendChild(removeButton);
                    imagesPreview.appendChild(imgContainer);
                }

                reader.readAsDataURL(file);
            }
        }
    }

    function doEditPartner() {
        var json = document.getElementById('formEditPartner');
        var form = new FormData(json);
        $.ajax({
            type: 'POST',
            url: '@Url.Content(ViewBag.IsEditing == true ? "~/Admin/DoEditPartner" : "~/Admin/partnerNew")',
            data: form,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.result == true) {
                    location.reload();
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        })
    }

    var idPartner = document.getElementById('id');

    function doDeleteImagePartner(idPartner) {
        if (confirm("Are you sure wanna delete this photo?!")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteImagePartner", "Admin")',
                data: { id: idPartner },
                success: function (response) {
                    if (response.result == true) {
                        showSuccessMessage("Completed");
                        document.getElementById('imagePartner').remove();
                    }
                    else {
                        showErrorMessage(response.error);
                    }
                },
                error: handleException
            })
        }
    }

    $(document).ready(function () {
        $("#fileBase").change(function () {
            var filename = this.files[0].name;
            $(".filename-contain").text(filename);
        });
    });
</script>

<style>
    input[type="file"] {
        visibility: hidden;
        /*an nut mac dinh di*/
    }

    .cusFILE {
        /*custom nut chon file*/
        padding: 10px 20px;
        background-color: #f1f1f1;
        color: #333;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .cusFILE:hover {
            background-color: hotpink;
        }



    
    .filename-contain {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #333333;
    }

        .filename-contain:hover {
            padding: 10px;
            border-radius: 4px;
            background-color: #ff7f00;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, box-shadow 0.3s;
        }


    hr.new4 {
        border: 1px solid hotpink;
    }

    .custom-Button {
        position: relative;
        left: 123px;
        bottom: 145px;
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 50px;
        height: 50px;
    }

        .custom-Button i {
            width: fit-content;
            height: auto;
            color: red;
            font-size: 20px;
        }

            .custom-Button i:hover {
                color: hotpink; /* Màu sắc khi hover */
            }
        .error {
        content: url('@Url.Content("~/Content/dist/img/default-150x150.png")');/* Thay thế bằng hình ảnh khác khi anh dai dien k co anh de load */
        border: 2px solid red;
    }
</style>

<div class="content-wrapper">

    <div class="card-header">
 
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    @{
                        if (ViewBag.IsEditing == true)
                        {
                            <div class="col-sm-6">
                                <h1 class="m-0">Edit Partner</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/NewPartner")">Partner</a></li>
                                    <li class="breadcrumb-item active">Edit Partner</li>
                                </ol>
                            </div><!-- /.col -->
                        }
                        else
                        {
                            <div class="col-sm-6">
                                <h1 class="m-0">Create Partner</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/NewPartner")">Partner</a></li>
                                    <li class="breadcrumb-item active">Create Partner</li>
                                </ol>
                            </div><!-- /.col -->
                        }

                    }

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    </div>
    <!-- /.card-header -->




    <!-- form start -->
    <form id="formEditPartner" action="javascript:doEditPartner();" method="post" enctype="multipart/form-data">
        <div class="card-body mx-auto">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <!-- logo -->
                        <h2><label for="Partner Name">Partner Name</label></h2>
                        <input type="text" class="form-control" id="name" name="partner_name" placeholder="Partner Name" value="@partner.partner_name" required>
                    </div>

                    <div class="col-sm-7">
                        <!-- description -->
                        <h2><label for="description">Brief description</label></h2>
                        <input type="text" class="form-control" id="description" name="description" value="@partner.description" placeholder="General description" required>
                    </div>
                </div>
                
            </div>

            <hr class="new4">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><label for="fileBase">Logo</label></h2>
                        <div class="" id="imagePartner">
                            <!--Logo partner-->
                            <img src="~/Content/Images/partner/@partner.partner_image" width="150" height="150" alt="No Image" onerror="this.classList.add('error')" />
                            <button type="button" class="custom-Button" onclick="doDeleteImagePartner(@partner.id)"><i class="fa-solid fa-delete-left"></i></button>
                        </div>
                        <!-- choose file img-->
                        <label for="fileBase" class="cusFILE mt-2"><i class="fa-solid fa-upload mr-1"></i>Choose File</label>
                        <input type="file" class="form-control" id="fileBase" name="fileBase" onchange="previewImages(event)">
                        
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <!--Logo partner viewbefore-->
                            <h2><label for="imagesPreview">Preview</label></h2>
                            <div id="imagesPreview"></div>
                            <div class="filename-contain"></div>
                        </div>
                      
                    </div>
                </div>
            </div>

            <input type="hidden" id="id" name="id" value="@partner.id" />

            @*<input type="hidden" name="TrangThai" value="Mở" />*@
            <hr class="new4">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <!--Email-->
                        <h2><label for="description">Email</label></h2>
                        <input type="email" class="form-control" id="email" name="email" placeholder="For example: DucLOVEP2T" value="@partner.email" required>
                    </div>
                    <div class="col-sm-6">
                        <!--Phone-->
                        <h2><label for="description">Phone number</label></h2>
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="For example: 0908540891" value="@partner.phone" required>
                    </div>
                    <div class="col-sm-12">
                        <!--Address-->
                        <h2><label for="description">Address</label></h2>
                        <input type="text" class="form-control" id="address" name="address" placeholder="For example: Khu phố đèn tím" value="@partner.address" required>
                    </div>
                </div>
            </div>

            <div>
                <input type="hidden" name="content" id="MoTa" />
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer text-center">
            <button type="submit" id="btnSubmit" class="button-35" value="Save">Save</button>
        </div>
    </form>
</div>
<!-- /.card -->
