
@{
    ViewBag.Title = "EditDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var post = ViewBag.EditPost as GiveAID.Models.entities.post;

    List<GiveAID.Models.entities.category> categories = new List<GiveAID.Models.entities.category>();
    if (ViewBag.cate != null)
    {
        categories = ViewBag.cate;
    }

    List<GiveAID.Models.entities.partner> partners = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partners = ViewBag.partner;
    }

    //bool isEditPost = ViewBag.IsEditPost ?? false;
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        CKEDITOR.replace('comment');

        $(document).ready(function (e) {
            $('#comment').val($('#MoTa').val());

            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                var data = CKEDITOR.instances['comment'].getData();
                $('#MoTa').val(data);

                $('#formEditPost').submit();
            });
        });

        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, nên cần +1
        var year = currentDate.getFullYear();

        // Định dạng ngày tháng
        var formattedDate = year + "-" + month + "-" + day;

        document.getElementById("time_start").value = formattedDate;


        function previewThumbnail(event) {

            var input = event.target;
            var imagesPreview = document.getElementById('thumb');
            imagesPreview.innerHTML = ''; // Clear any previous images

            if (input.files) {
                var filesAmount = input.files.length;

                for (let i = 0; i < filesAmount; i++) {
                    let file = input.files[i];
                    let reader = new FileReader();

                    reader.onload = function (e) {
                        let imgContainer = document.createElement('div');
                        imgContainer.style.position = 'relative';
                        imgContainer.style.display = 'inline-block';
                        imgContainer.style.marginRight = '10px';
                        imgContainer.style.marginBottom = '10px';

                        let img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.maxWidth = '200px';
                        img.style.maxHeight = '200px';

                        let removeButton = document.createElement('button');
                        removeButton.innerHTML = 'X';
                        removeButton.style.position = 'absolute';
                        removeButton.style.top = '5px';
                        removeButton.style.right = '5px';
                        removeButton.style.backgroundColor = 'red';
                        removeButton.style.color = 'white';
                        removeButton.style.border = 'none';
                        removeButton.style.borderRadius = '50%';
                        removeButton.style.cursor = 'pointer';

                        removeButton.onclick = function () {
                            imgContainer.remove();
                            // Remove the file from the input element
                            var dt = new DataTransfer();
                            for (var j = 0; j < input.files.length; j++) {
                                if (input.files[j] !== file) {
                                    dt.items.add(input.files[j]);
                                }
                            }
                            input.files = dt.files;
                        };

                        imgContainer.appendChild(img);
                        imgContainer.appendChild(removeButton);
                        imagesPreview.appendChild(imgContainer);
                    };

                    reader.readAsDataURL(file);
                }
            }
        }


        function previewImages(event) {
            var input = event.target;
            var imagesPreview = document.getElementById('imagesPreview');
            imagesPreview.innerHTML = ''; // Clear any previous images

            if (input.files) {
                var filesAmount = input.files.length;

                for (let i = 0; i < filesAmount; i++) {
                    let file = input.files[i];
                    let reader = new FileReader();

                    reader.onload = function (e) {
                        let imgContainer = document.createElement('div');
                        imgContainer.style.position = 'relative';
                        imgContainer.style.display = 'inline-block';
                        imgContainer.style.marginRight = '10px';
                        imgContainer.style.marginBottom = '10px';

                        let img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.maxWidth = '150px';
                        img.style.maxHeight = '150px';

                        let removeButton = document.createElement('button');
                        removeButton.innerHTML = 'X';
                        removeButton.style.position = 'absolute';
                        removeButton.style.top = '5px';
                        removeButton.style.right = '5px';
                        removeButton.style.backgroundColor = 'red';
                        removeButton.style.color = 'white';
                        removeButton.style.border = 'none';
                        removeButton.style.borderRadius = '50%';
                        removeButton.style.cursor = 'pointer';

                        removeButton.onclick = function () {
                            imgContainer.remove();
                            // Remove the file from the input element
                            var dt = new DataTransfer();
                            for (var j = 0; j < input.files.length; j++) {
                                if (input.files[j] !== file) {
                                    dt.items.add(input.files[j]);
                                }
                            };
                            input.files = dt.files;
                        };

                        imgContainer.appendChild(img);
                        imgContainer.appendChild(removeButton);
                        imagesPreview.appendChild(imgContainer);
                    };

                    reader.readAsDataURL(file);
                }
            }
        }

        var idPost = document.getElementById('id');

        function deleteThumb(idPost) {
            if (confirm("Are you sure wanna delete this photo?!")) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteThumb", "Admin")',
                    data: { id: idPost },
                    success: function (response) {
                        if (response.result == true) {
                            showSuccessMessage("Completed");
                            document.getElementById('imageId').remove();
                        } else {
                            showErrorMessage(response.error);
                        }
                    },
                    error: handleException
                });
            }
        }


        function deleteImage(imageId, idPost) {
            if (confirm("Are you sure wanna delete this photo?!")) {
                $.ajax({
                    url: '@Url.Action("DeleteImage", "Admin")',
                    type: 'POST',
                    data: {
                        id: imageId,
                        idPost: idPost
                    },
                    success: function (response) {
                        if (response.result) {
                            showSuccessMessage("Completed");
                            document.querySelector(`button[onclick="deleteImage(${imageId}, ${idPost})"]`).parentElement.remove();
                        } else {
                            showErrorMessage(response.error);
                        }
                    },
                    error: handleException
                });
            }
        }


        function doEditPost() {
            var dt = document.getElementById('formEditPost');
            var form = new FormData(dt);

            $.ajax({
                type: 'POST',
                url: '@Url.Content(ViewBag.IsEditPost == true ? "~/Admin/DoEditPost" : "~/Admin/SubmitNews")',
                data: form,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.result == true) {
                        location.reload();
                    }
                    else {

                        showErrorMessage(response.error);
                    }
                },
                error: handleException
            });
        }

        function doSubmitCate() {

            var name = $('#cate_name').val();
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddCategory", "Admin")',
                data: { name: name },
                success: function (response) {
                    if (response.result == true) {
                        showSuccessMessage("Success");
                        addNewCateToSelectBox(response.newCate);
                        $('#cate_name').val('');
                    }
                    else {
                        showErrorMessage(response.error);
                    }
                },
                error: handleException
            })
        }

        function addNewCateToSelectBox(category) {
            var newOption = document.createElement('option');
            newOption.value = category.cate_id;
            newOption.textContent = category.name;

            document.getElementById('sel1').appendChild(newOption);
        }

        // label chosefile for thumbnail
        $("#thumbnail").change(function () {
            filename = this.files[0].name;
            $(".filename-container").text(filename);
        });

        // label chosefile for fileBase
        $("#fileBase").change(function () {
            var files = this.files;
            var fileCount = files.length;
            var filename;

            if (fileCount > 1) {
                filename = fileCount + " Selected image";
            } else {
                filename = files[0].name;
            }

            $(".filename-contain").text(filename);
        });



    </script>
}

<style>




    input[type="file"] {
        visibility: hidden;
        /*an nut mac dinh di*/
    }

    .filename-container.placeholder {
        color: #999; /*thumbnail*/
        font-style: italic;
    }

    .filename-contain.placeholder {
        color: #999; /*fileBase*/
        font-style: italic;
    }

    .cusFILE {
        /*custom nut chon file*/
        color: #333;
        padding: 10px 20px;
        background-color: #f1f1f1;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .cusFILE:hover {
            background-color: hotpink;
        }

    hr.new4 {
        border: 1px solid hotpink;
    }

    .filename-container,
    .filename-contain {

        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #333333;

    }

        .filename-container:hover,
        .filename-contain:hover {
            padding: 10px;
            border-radius: 4px;
            background-color: #ff7f00;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, box-shadow 0.3s;
        }
          .error {
      content: url('@Url.Content("~/Content/dist/img/default-150x150.png")');/* Thay thế bằng hình ảnh khác */
      border: 2px solid red;
  }
</style>
<div class="content-wrapper">

    <div class="card-header">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    @{
                        if (ViewBag.IsEditPost == true)
                        {
                            <div class="col-sm-6">
                                <h1 class="m-0">Edit Detail</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.RouteUrl("ListPosts")">Posts</a></li>
                                    <li class="breadcrumb-item active">Edit Detail</li>
                                </ol>
                            </div><!-- /.col -->
                        }
                        else
                        {
                            <div class="col-sm-6">
                                <h1 class="m-0">Create News</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.RouteUrl("ListPosts")">Posts</a></li>
                                    <li class="breadcrumb-item active">Create News</li>
                                </ol>
                            </div><!-- /.col -->
                        }

                    }

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

    </div>
    <!-- /.card-header -->
    <!--Load GIF-->
    <div class="modalLoading"></div>


    <!-- form start -->
    <form id="formEditPost" action="javascript:doEditPost();" method="post" enctype="multipart/form-data">
        <div class="card-body mx-auto">
            <div class="form-group">
                <h1><label for="Tiêu Đề">Title</label></h1>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required value="@post.title">
            </div>
            <hr class="new4">

            <input type="hidden" name="id" id="id" value="@post.id" />


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <h1><label for="fileBase">Background</label></h1>

                        <div class="image-container" id="imageId">
                            <img src="~/Content/Images/post/@post.image" alt="No Image" width="150" height="150" onerror="this.classList.add('error')" />
                           
                        </div>
                        <!-- choose file img-->
                        <label for="thumbnail" class="cusFILE"><i class="fa-solid fa-upload mr-1"></i>Choose File</label>
                        <input type="file" class="form-control" id="thumbnail" name="thumbnail" onchange="previewThumbnail(event);">
                        
                    </div>

                    <div class="col-sm-7">
                        <!-- view file img-->
                        <div class="viewBefore">
                            <h1><label for="thumb">Preview</label></h1>
                            <div id="thumb"></div>
                            <div class="filename-container"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <hr class="new4">
                        <h1><label for="fileBase">Related images</label></h1>
                        <div class="row">
                            @foreach (var item in post.image_post)
                            {
                                <div class="col-sm-2">
                                    <img src="~/Content/Images/post/@item.image" alt="" width="150" height="150">
                                    <button class="custom-Button2" type="button" onclick="deleteImage(@item.id, @item.post_id)"><i class="fa-solid fa-delete-left"></i></button>
                                </div>
                            }
                        </div>
                        <!-- choose file img-->
                        <label for="fileBase" class="cusFILE mt-2"><i class="fa-solid fa-upload mr-1"></i>Choose File</label>
                        <input type="file" class="form-control" id="fileBase" name="fileBase" multiple onchange="previewImages(event);">
                        <div class="filename-contain"></div>
                    </div>

                    <div class="col-sm-12">
                        <!-- view file img-->
                        <h2><label for="imagesPreview">Preview</label></h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="imagesPreview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr class="new4">
            @*<input type="hidden" name="TrangThai" value="Mở" />*@
            <input type="hidden" id="time_start" name="time_start" value="" />
            <input type="hidden" name="content" id="MoTa" value="@post.content" />

            <div class="form-group">
                <h3><label for="content">Content</label></h3>
                <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
            </div>



            <!--Category and add New Category-->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><label>Category</label></h3>
                        <select class="form-control" id="sel1" name="cate_id">

                            @foreach (var item in categories)
                            {
                                <option value="@item.cate_id">@item.name</option>
                            }

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3><label>Add Category</label></h3>
                                <input type="text" class="form-control" id="cate_name" value="" placeholder="Enter the category name here" />

                            </div>
                            <div class="col-sm-4">
                                <br />
                                <button value="Save" class="button-74 mt-2 ml-2" role="button" onclick="doSubmitCate();">Add</button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <!--Partner and Target Amount-->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><label>Partner</label></h3>
                        <select class="form-control" id="sel1" name="partner_id">

                            @foreach (var item in partners)
                            {
                                <option value="@item.id" @(post.partner_id == item.id ? "selected" : "")>@item.partner_name</option>
                            }

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <h3><label for="target">Target amount</label></h3>
                        <input type="number" class="form-control" id="target" name="target" placeholder="" value="@Convert.ToInt64(post.target)" required>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <h3><label for="time_end">Donation end date</label></h3>
                <input type="date" class="form-control" id="time_end" name="time_end" value="@(post.time_end.HasValue ? post.time_end.Value.ToString("yyyy-MM-dd") : "")" required>
            </div>


        </div>
        <!-- /.card-body -->

        <div class="card-footer text-center">
            <button type="submit" id="btnSubmit" class="button-35" value="Save">Save</button>
        </div>
    </form>


   
</div>
<!-- /.card -->
