@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $.widget.bridge('uibutton', $.ui.button);

    /**CHART bar and line*/
   $.ajax({
    url: '@Url.Action("chartJS","Home")',
    type: 'POST', // Phương thức HTTP
    dataType: 'json', // Kiểu dữ liệu trả về
    success: function (data) {
        // Xử lý dữ liệu trả về
        console.log(data);

        // Tạo mảng chứa các giá trị transaction_no
        var labelName = data.map(function (item) {
            return item.name;
        });

        // Tạo mảng chứa các nhãn cho biểu đồ
        var dataS = data.map(function (item) {
            return item.sum;
        });

        
        console.log(dataS);



        var ctx2 = document.getElementById("myChart2");
        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labelName,
                datasets: [{
                    label: 'Total Donations',
                    data: dataS,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1,

                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0
                        }
                    }]
                }
            }
        });


    },
    error: function (error) {

    }

   });



       /**CHART DONUT*/
    $.ajax({

        url: "@Url.Action("ChartData","Home")",
        type: "POST",
        dataType: "json",
        success: function (dataChart) {
            console.log(dataChart);
            var labelss = dataChart.map(function (item) {
                return item.name;
            });

            var countss = dataChart.map(function (item) {
                return item.count;
            });
            console.log(labelss);
            console.log(countss);
            // Cấu hình biểu đồ
            var ctx3 = document.getElementById("myChart3");
            var myChart = new Chart(ctx3, {
                type: "doughnut",
                data: {
                    labels: labelss,
                    datasets: [
                        {
                            label: "Tổng số bài",
                            data: countss,
                            backgroundColor: colors,
                            borderColor: borderColors,
                            borderWidth: 1,
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutout: "70%", // Điều chỉnh kích thước lỗ giữa để tạo hình dạng donut
                    plugins: {
                        legend: {
                            position: "right"
                        }
                    }
                }
            });

        },
        error: function (error) {
            // Xử lý lỗi (nếu có)
            console.log(error);
        },
    });




    function updateChart(year, month) {
        $.ajax({
            url: '@Url.Action("FilterChart", "Home")',
            type: 'POST',
            data: { year: year, month: month },
            dataType: 'json',
            success: function (response) {

                $('#postCount').text(response.postCount);
                $('#runningCount').text(response.runningCount);
                $('#completeCount').text(response.completeCount);
                $('#sumTarget').text(response.sumTarget.toLocaleString() + " VND");
                $('#sumAmout').text(response.sumAmout.toLocaleString() + " VND");



                // Tạo mảng chứa các giá trị name cate
                var labelName = response.bars.map(function (item) {
                    return item.name;
                });

                // Tạo mảng chứa dư liệu cho chartjs
                var dataS = response.bars.map(function (item) {
                    return item.sum;
                });
                var ctx2 = document.getElementById("myChart2");
                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: labelName,
                        datasets: [{
                            label: 'Total Donations',
                            data: dataS,
                            backgroundColor: colors,
                            borderColor: borderColors,
                            borderWidth: 1,

                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMin: 0
                                }
                            }]
                        }
                    }
                });

                var labelss = response.cate.map(function (item) {
                    return item.name;
                });

                var countss = response.cate.map(function (item) {
                    return item.count;
                });

                var ctx3 = document.getElementById("myChart3");
                var myChart = new Chart(ctx3, {
                    type: "doughnut",
                    data: {
                        labels: labelss,
                        datasets: [
                            {
                                label: "Tổng số bài",
                                data: countss,
                                backgroundColor: colors,
                                borderColor: borderColors,
                                borderWidth: 1,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        cutout: "70%", // Điều chỉnh kích thước lỗ giữa để tạo hình dạng donut
                        plugins: {
                            legend: {
                                position: "right"
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $(document).ready(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var date = new Date($('#bdaymonth').val());
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            updateChart(year, month);
        });
    });




    document.addEventListener("DOMContentLoaded", function () {
        // Lấy ngày hiện tại
        var currentDate = new Date();

        // Định dạng ngày thành chuỗi "YYYY-MM"
        var formattedDate = currentDate.toISOString().slice(0, 7);

        // Đặt giá trị mặc định cho phần tử input
        document.getElementById("bdaymonth").defaultValue = formattedDate;
    });

</script>

<style>
    @@media (max-width: 500px) {
        #bdaymonth {
            /* Kiểu dáng cho thiết bị di động */
            width: 100%;
            height: auto;
            margin: 0px;
            /* Các kiểu dáng khác tùy ý */
        }
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 HOME">ADMIN HOME</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->




    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-cyan">
                        <div class="inner">
                            <h5>Total number of projects</h5>
                            <p id="postCount">@ViewBag.postCount</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-people-line mt-2" style="font-size: 35px; color: #7ae4ff;"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-maroon">
                        <div class="inner">
                            <h5>Number of ongoing projects</h5>
                            <p id="runningCount">@ViewBag.runningCount</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple mt-2" style="font-size: 35px; color: #ffa3d0;"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-purple">
                        <div class="inner">
                            <h5>Number of completed projects</h5>
                            <p id="completeCount">@ViewBag.completeCount</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-person-circle-plus mt-2" style="font-size: 35px; color: #b6f5b2; "></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-orange">
                        <div class="inner">
                            <h5>Estimated total amount</h5>
                            <p id="sumTarget">@Convert.ToInt64(ViewBag.sumTarget).ToString("N0") VND</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-money-bill-trend-up mt-2" style="font-size: 35px; color: #ffe1ad;"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-green">
                        <div class="inner">
                            <h5>Total amount collected</h5>
                            <p id="sumAmout">@Convert.ToInt64(ViewBag.sumAmout).ToString("N0") VND</p>
                        </div>
                        <div class="icon">
                           <i class="fa-solid fa-hand-holding-dollar mt-2" style="font-size:35px; color: #ebfff9;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-gray-dark">
                        <div class="inner">
                            <h4>Choose a timeline</h4>
                            <form action="">
                                <input type="month" id="bdaymonth" name="bdaymonth">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-calendar-days mt-2" style="font-size:35px; color:antiquewhite;"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-sm-6 col-6">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Article statistics by categories</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="myChart3"  style="min-height: 250px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.Left col -->

                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <div class="col-sm-6 col-6">
                    <!-- LINE CHART -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Donations summary by categories</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="myChart2"  style="min-height: 250px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->

                </div>
                <!-- right col -->

            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->




</div>
<!-- /.content-wrapper -->
