
@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int index = 1;

    List<GiveAID.Models.entities.post> posts = new List<GiveAID.Models.entities.post>();
    if (ViewBag.post != null)
    {
        posts = ViewBag.post;
    }

    List<GiveAID.Models.entities.partner> partner = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partner = ViewBag.partner;
    }
}

<style>












    .content-vip {
        display: flex;
        justify-content: center;
    }

    .content-baby {
        flex: 1;
        text-align: center;
    }


    .nav-tabs .nav-item .nav-link.active {
        color: mediumvioletred; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 2px solid #FF3399; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: whitesmoke;
    }
</style>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">




    <!-- Content Header (Page header) -->
    <div class="content-header" style="width:100%">

        <div class="container">
            <div class="row mb-2">
                <div class="container">

                    <br>
                    <ul class="nav nav-tabs content-vip" role="tablist">
                        <li class="nav-item content-baby">
                            <!--Table 1-->
                            <a class="nav-link active" data-toggle="tab" href="#home">Bài viết</a>
                        </li>
                        <li class="nav-item content-baby">
                            <!--Table 2-->
                            <a class="nav-link" data-toggle="tab" href="#menu1">Đối tác</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="width:100%">
                        <div id="home" class="container tab-pane active">
                            <br>
                            <div class="row mb-2">

                                <h5>Danh sách bài viết</h5>
                                <!--Table 1-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Ảnh nền</th>
                                            <th scope="col">Tiêu Đề</th>
                                            <th scope="col">Mục tiêu</th>
                                            <th scope="col">Ngày kết thúc</th>
                                            <th scope="col">Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in posts)
                                        {
                                            <tr>
                                                <th scope="row">@(index++)</th>
                                                <td><img style="width:150px; height:150px" src="~/Content/Images/post/@item.image" alt="Alternate Text" /></td>
                                                <td>@item.title</td>
                                                <td>@Convert.ToInt64(item.target).ToString("N0") VND</td>
                                                <td>@item.time_end.Value.ToShortDateString()</td>
                                                <td><a href="@Url.Content("~/Admin/EditDetail/")@item.id">Xem thêm</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!--Table 1-->
                            </div>
                        </div>
                        <div id="menu1" class="container tab-pane fade">
                            <br>
                            <div class="row mb-2">
                                <h5>Danh sách đối tác</h5>
                                <!--Table 2-->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Ảnh</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in partner)
                                        {
                                            <tr>
                                                <th scope="row">@(index++)</th>
                                                <td><img style="width:150px; height:150px" src="~/Content/Images/partner/@item.partner_image" alt="Alternate Text" /></td>
                                                <td>@item.name</td>
                                                <td>@item.phone</td>
                                                <td>@item.email</td>
                                                <td><a href="@Url.Content("~/Admin/EditPartner/")@item.id">EDIT</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!--Table 2-->


                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <!-- Main content -->
</div>
<!-- Content Wrapper. Contains page content -->
