
@{
    ViewBag.Title = "NewPartner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int indexPartner = 1;

    List<GiveAID.Models.entities.partner> partner = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partner = ViewBag.partner;
    }
}

<script>
    $(document).ready(function () {
    $(".checkbox-wrapper-55 input[type='checkbox']").on("change", function () {

        var checkbox = $(this);
        var postId = checkbox.attr("id").split("-")[1];
        var status = checkbox.is(":checked") ? "Mở" : "Đóng";

        if (confirm("Bạn muốn đổi trạng thái à ?!")) {

            $.ajax({
                url: '@Url.Content("~/Admin/ChangeStatusPartner")',
                type: 'POST',
                data: { id: postId },
                success: function (response) {
                    if (response.result == true) {
                        checkbox.siblings(".status-label").text(status);
                        showSuccessMessage("Thay đổi trạng thái thành công");
                    } else {

                    }
                },
                error: handleException
            });
        }
    });
});
</script>

<style>
    .content-vip {
        display: flex;
        justify-content: center;
    }

    .content-baby {
        flex: 1;
        text-align: center;
    }


    .nav-tabs .nav-item .nav-link.active {
        color: mediumvioletred; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 2px solid #FF3399; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: whitesmoke;
    }
</style>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">New Partner</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                        <li class="breadcrumb-item active">Create Partner</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!--Load GIF-->
    <div class="modalLoading"></div>


    <div class="content">
        <ul class="nav nav-tabs content-vip" role="tablist">
            <li class="nav-item content-baby">
                <!--Table 1-->
                <a class="nav-link active" data-toggle="tab" href="#view">Views Partner</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="width:100%">
            <div id="view" class="container tab-pane active table-responsive-md">
                <br>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h5>Danh sách đối tác</h5>
                    </div>



                    <div class="col-sm-12">
                        <a class="btn btn-success" href="@Url.Content("~/Admin/EditPartner/")">Create new partner</a>

                    </div>


                    <div class="col-sm-12">
                        <!--Table 1-->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Chỉnh sửa</th>
                                    <th scope="col">Tới Tháng  <!--Nut check-box--></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in partner)
                                {
                                    <tr>
                                        <th scope="row">@(indexPartner++)</th>
                                        <td><img style="width:70px; height:70px" src="~/Content/Images/partner/@item.partner_image" alt="Alternate Text" /></td>
                                        <td>@item.partner_name</td>
                                        <td>@item.phone</td>
                                        <td>@item.email</td>
                                        <td>
                                            <a class="btn btn-warning" href="@Url.Content("~/Admin/EditPartner/")@item.id">EDIT</a>

                                        </td>
                                        <td>
                                            <!--Nut check-box-->
                                            <div class="checkbox-wrapper-55">
                                                <label class="rocker rocker-small">
                                                    <input type="checkbox" id="myCheckbox-@item.id" data-status="@item.partner_status"
                                                           @(item.partner_status == "Mở" ? "checked" : "")>
                                                    <span class="status-label @(item.partner_status == "Mở" ? "switch-left" : "switch-right")">
                                                        @item.partner_status
                                                    </span>
                                                    <span class="switch-right">Đóng</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--Table 1-->
                    </div>

                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>