
@{
    ViewBag.Title = "NewPartner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    List<GiveAID.Models.entities.partner> partner = new List<GiveAID.Models.entities.partner>();
    if (ViewBag.partner != null)
    {
        partner = ViewBag.partner;
    }
    int pageSize = 5; // Số lượng bài viết mỗi trang
    int pageIndex = ViewBag.CurrentPage; // Trang hiện tại
    int indexPartner = (pageIndex - 1) * pageSize + 1; // Index bắt đầu cho trang hiện tại
}

<script>

    $(document).ready(function () {
        $(".checkbox-wrapper-55 input[type='checkbox']").on("change", function () {

            var checkbox = $(this);
            var postId = checkbox.attr("id").split("-")[1];
            var status = checkbox.is(":checked") ? "Mở" : "Đóng";

            if (confirm("Do you want to change the status?!")) {

                $.ajax({
                    url: '@Url.Content("~/Admin/ChangeStatusPartner")',
                    type: 'POST',
                    data: { id: postId },
                    success: function (response) {
                        if (response.result == true) {
                            checkbox.siblings(".status-label").text(status);
                            showSuccessMessage("Completed");
                        } else {

                        }
                    },
                    error: handleException
                });
            }
        });
    });

</script>

<style>
    .content-vip {
        display: flex;
        justify-content: center;
    }

    .content-baby {
        flex: 1;
        text-align: center;
    }


    .nav-tabs .nav-item .nav-link.active {
        color: mediumvioletred; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 2px solid #FF3399; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: whitesmoke;
    }

    .search-box {
        display: flex;
        align-items: center;
        width: fit-content;
        border: none;
    }

        .search-box input[type="text"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 35px;
            font-size: 16px;
            width: 200px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }

    .search-btn {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 6px 9px;
        margin-left: 1px;
        border-radius: 35px;
        cursor: pointer;
    }

        .search-btn i {
            margin-right: 5px;
        }

        .search-btn:hover {
            background-color: #45a049;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out;
        }
</style>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2 class="m-0">Partner</h2>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                        <li class="breadcrumb-item active">View Partner</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!--Load GIF-->
    <div class="modalLoading"></div>


    <div class="content">
        <ul class="nav nav-tabs content-vip" role="tablist">
            <li class="nav-item content-baby">
                <!--Table 1-->
                <a class="nav-link active" data-toggle="tab" href="#view"><h3>Views Partner</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="width:100%">
            <div id="view" class="container tab-pane active table-responsive-md">
                <br>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h3>List of partners</h3>
                    </div>
                    <div class="col-sm-9">
                        <a class="btn btn-success" href="@Url.Content("~/Admin/EditPartner/")"><i class="fa-solid fa-plus mr-1"></i>Add</a>

                    </div>
                    <div class="col-sm-3">
                        @using (Html.BeginForm("NewPartner", "Admin", FormMethod.Get))
                        {
                            <div class="search-box ml-lg-3 mb-2">
                                <input type="text" name="search" value="@ViewBag.search" placeholder="Search..." />
                                <button class="search-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 ">
                        <div class="table-responsive-sm">
                            <!--Table 1-->
                            <table class="table table-hover">
                                <thead class="table-info">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Status<!--Nut check-box--></th>
                                    </tr>
                                </thead>
                                <tbody class="table-light">
                                    @foreach (var item in partner)
                                    {
                                        <tr>
                                            <th scope="row">@(indexPartner++)</th>
                                            <td><img style="width:70px; height:70px" src="~/Content/Images/partner/@item.partner_image" alt="Alternate Text" /></td>
                                            <td>@item.partner_name</td>
                                            <td>@item.phone</td>
                                            <td>@item.email</td>
                                            <td>
                                                <a class="btn btn-warning" href="@Url.Content("~/Admin/EditPartner/")@item.id"><i class="fa-solid fa-pen-to-square mr-1"></i>Edit</a>

                                            </td>
                                            <td>
                                                <!--Nut check-box-->
                                                <div class="checkbox-wrapper-55">
                                                    <label class="rocker rocker-small">
                                                        <input type="checkbox" id="myCheckbox-@item.id" data-status="@item.partner_status"
                                                               @(item.partner_status == "Open" ? "checked" : "")>
                                                        <span class="status-label @(item.partner_status == "Open" ? "switch-left" : "switch-right")">
                                                            @item.partner_status
                                                        </span>
                                                        <span class="switch-right">Closed</span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!--Table 1-->
                        </div>
                        <div>
                            <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
                                <ul class="pagination">
                                    @if (ViewBag.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.RouteUrl("PagePartner", new { page = ViewBag.CurrentPage - 1, pagesize = 5 })" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                    }

                                    @for (int i = 1; i <= ViewBag.TotalPagesRunning; i++)
                                    {
                                        <li class="page-item">
                                            <a class="page-link @(i == ViewBag.CurrentPage ? "active" : "")" href="@Url.RouteUrl("PagePartner", new { page = i, pagesize = 5 })">@i</a>
                                        </li>
                                    }


                                    @if (ViewBag.CurrentPage < ViewBag.TotalPagesRunning)
                                    {


                                        <li class="page-item">
                                            <a class="page-link" href="@Url.RouteUrl("PagePartner", new { page = ViewBag.CurrentPage + 1, pagesize = 5 })" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>