
@{
    ViewBag.Title = "ViewConfiguration";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<GiveAID.Models.entities.banner> banners = new List<GiveAID.Models.entities.banner>();
    if (ViewBag.banner != null)
    {
        banners = ViewBag.banner;
    }
}

<script>

    function previewImages(event) {
        var input = event.target;
        var imagesPreview = document.getElementById('imagesPreview');
        imagesPreview.innerHTML = ''; // Clear any previous images

        if (input.files) {
            var filesAmount = input.files.length;

            for (let i = 0; i < filesAmount; i++) {
                let file = input.files[i];
                let reader = new FileReader();

                reader.onload = function (e) {
                    let imgContainer = document.createElement('div');
                    imgContainer.style.position = 'relative';
                    imgContainer.style.display = 'inline-block';
                    imgContainer.style.marginRight = '10px';
                    imgContainer.style.marginBottom = '10px';

                    let img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '220px';
                    img.style.maxHeight = '220px';

                    let removeButton = document.createElement('button');
                    removeButton.innerHTML = 'X';
                    removeButton.style.position = 'absolute';
                    removeButton.style.top = '5px';
                    removeButton.style.right = '5px';
                    removeButton.style.backgroundColor = 'red';
                    removeButton.style.color = 'white';
                    removeButton.style.border = 'none';
                    removeButton.style.borderRadius = '50%';
                    removeButton.style.cursor = 'pointer';

                    removeButton.onclick = function () {
                        imgContainer.remove();
                        // Remove the file from the input element
                        var dt = new DataTransfer();
                        for (var j = 0; j < input.files.length; j++) {
                            if (input.files[j] !== file) {
                                dt.items.add(input.files[j]);
                            }
                        }
                        input.files = dt.files;
                    };

                    imgContainer.appendChild(img);
                    imgContainer.appendChild(removeButton);
                    imagesPreview.appendChild(imgContainer);
                }

                reader.readAsDataURL(file);
            }
        }
    }

    function doEditConfig() {
       
        var dt = document.getElementById('formEditBanner');
        var form = new FormData(dt);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditConfig", "Admin")',
            data: form,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.result == true) {
                    
                    location.reload();
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        });
    }

    function doEditMailConfig() {
        var MailAddress = $('#mailAddress').val();
        var MailPass = $('#mailPass').val();
        var MailPort = $('#mailPort').val();
        var SmtpServer = $('#smtpServer').val();
        var DisplayName = $('#displayName').val();
        var MailUsername = $('#mailUsername').val();
        var Ssl = $('#ssl').is(':checked');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditMailConfig", "Admin")',
            data: {
                MailAddress: MailAddress,
                MailPass: MailPass,
                MailPort: MailPort,
                SmtpServer: SmtpServer,
                DisplayName: DisplayName,
                MailUsername: MailUsername,
                Ssl: Ssl
            },
            success: function (response) {
                if (response.result == true) {
                    location.reload();
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        });
    }

    var idBanner = document.getElementById('idBanner');

    function doDeleteBanner(idBanner) {
        if (confirm("Are you sure wanna delete this photo?!")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBanner", "Admin")',
                data: { id: idBanner },
                success: function (response) {
                    if (response.result == true) {
                        showSuccessMessage("Completed");
                        //document.getElementById('imagePartner').remove();
                    }
                    else {
                        showErrorMessage(response.error);
                    }
                },
                error: handleException
            })
        }
    }

    $(document).ready(function () {
        // label chosefile for fileBase
        $("#fileBase").change(function () {
            var files = this.files;
            var fileCount = files.length;
            var filename;

            if (fileCount > 1) {
                filename = fileCount + " Selected image";
            } else {
                filename = files[0].name;
            }

            $(".filename-contain").text(filename);
        });
    });

</script>

<style>

    .custom-Button {
        position: relative;
        left: 125px;
        bottom: 135px;
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 50px;
        height: 50px;
    }

        .custom-Button i {
            width: fit-content;
            height: auto;
            color: red;
            font-size: 20px;
        }

            .custom-Button i:hover {
                color: hotpink; /* Màu sắc khi hover */
            }

    hr.new4 {
        border: 1px solid hotpink;
    }

    input[type="file"] {
        visibility: hidden;
        /*an nut mac dinh di*/
    }

    .cusFILE {
        /*custom nut chon file*/
        padding: 10px 20px;
        background-color: #f1f1f1;
        color: #333;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .cusFILE:hover {
            background-color: hotpink;
        }

    .filename-contain {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #333333;
    }

        .filename-contain:hover {
            padding: 10px;
            border-radius: 4px;
            background-color: #ff7f00;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, box-shadow 0.3s;
        }
    /* cho nay la cho nhap so dnt*/

    .smtpServer{
        width:350px;
        margin-left:50px;
    }

    .userName {
        width: 350px;
        margin-left: 65px;
    }

    .nameEmail {
        width: 555px;
        margin-left: 97px;
    }

    .nameView {
        width: 570px;
        margin-left: 58px;
    }

    .passEmail {
        width: 120px;
        margin-left: 35px;
    }

    .portSMTP {
        width: 120px;
        margin-left: 32px;
    }
    .ssL{
        margin-left:10px;
    }

    @@media (max-width: 500px) {
        .smtpServer, .userName, .nameEmail, .nameView, .passEmail, .portSMTP, .ssL {
            /* Kiểu dáng cho thiết bị di động */
            width: 100%;
            height: auto;
            margin: 0px;
            /* Các kiểu dáng khác tùy ý */
        }

    }

    .btn-transparent {
        background-color: transparent;
        border: none;
    }

        .btn-transparent:hover {
            background-color: transparent;
        }

    .formEditBanner {
        background-color: #f2f2f2; /* Màu nền của form */
        padding: 20px; /* Khoảng cách giữa các thành phần bên trong form */
        width: 1000px; /* Đặt chiều rộng của form */

    }
        .formEditBanner h2 {
            color: cornflowerblue;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            padding: 10px;

            font-style: italic;
            text-transform: uppercase;
        }

    #configConTact {
         display: flex;
         justify-content: center;
         align-items: center;
    }
   .error {
    content: url('@Url.Content("~/Content/dist/img/default-150x150.png")');/* Thay thế bằng hình ảnh khác */
    border: 2px solid red;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 HOME">Configuration</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/Admin")">Admin</a></li>
                        <li class="breadcrumb-item active">ViewConfiguration</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <hr class="new4">

    <div class="content">
        <div class="row">
         
            <div class="col-sm-2 text-center border-right">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-transparent" data-toggle="collapse" data-target="#configConTact" aria-expanded="true" aria-controls="configConTact" >  <img src="@Url.Content("~/Content/Images/IconMUNE/process.png")" style="width:50px;height:50px;" data-toggle="tooltip" data-placement="top" title="Config Contact"></button>
                    </div>
                    <div class="col-sm-12">
                        <p><b>Config Contact</b></p>
                    </div>
                </div>
                
            </div>
                <div class="col-sm-2 text-center" >
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-transparent" data-toggle="modal" data-target="#configEmail">  <img src="@Url.Content("~/Content/Images/IconMUNE/mail.png")" style="width:50px;height:50px;"  data-toggle="tooltip" data-placement="top" title="Config Email"  ></button>
                        </div>
                        <div class="col-sm-12">
                            <p><b>Config Mail</b></p>
                        </div>
                    </div>
                    
                </div>
        </div>
        <hr class="">
        <!--Form config contact-->
        <div class="collapse show fade" id="configConTact" >
            <!-- form start -->
            <form id="formEditBanner" class="formEditBanner" action="javascript:doEditConfig();" method="post" enctype="multipart/form-data">
                <h2 class="text-center" >Form input contact</h2>
                <hr class="new4">
                <div class="form-group">
                    <!--Email and Phone-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h4><label for="description">Email</label></h4> <!--Email-->
                            <input type="email" class="form-control mailContact" id="email" name="email" value="@ViewBag.SysEmail.value" required>
                        </div>
                        <div class="col-sm-6">
                            <h4><label for="description">Phone</label></h4> <!--Phone-->
                            <input type="number" class="form-control phoneContact" id="phone" name="phone" value="@ViewBag.SysPhone.value" required>
                        </div>

                    </div>
                    <div class="row">
                        <!--Introduce and Address-->
                        <div class="col-sm-6">
                            <h4><label for="description">Introduce</label></h4><!--Introduce-->
                            <input type="text" class="form-control introduceContact" id="introduce" name="introduce" value="@ViewBag.SysIntroduce.value" required>
                        </div>

                        <div class="col-sm-6">
                            <h4><label for="description">Address</label></h4><!--Address-->
                            <input type="text" class="form-control addressContact" id="address" name="address" value="@ViewBag.SysAddress.value" required>
                        </div>
                    </div>
                </div>



                <!-- /.card-body -->

                <hr class="new4">

                <div class="form-group">
                    <h4 class="mt-2"><label for="fileBase">Banner Slider</label></h4>
                    <div class="" id="imagePartner">
                        <div class="row">
                            @foreach (var item in banners)
                            {<!-- file img-->
                                <div class="col-sm-2">
                                    <input type="hidden" id="idBanner" value="@item.id">
                                    <img src="~/Content/Images/banner/@item.banner_image" style="width:150px; height:150px" alt="Image Banner" onerror="this.classList.add('error')"  />
                                    <button class="custom-Button" type="button" onclick="doDeleteBanner(@item.id)"><i class="fa-solid fa-delete-left"></i></button>
                                </div>


                            }
                            <div class="col-sm-12">
                                <!-- choose file img-->
                                <label for="fileBase" class="cusFILE mt-2"><i class="fa-solid fa-upload mr-1"></i>Choose File</label>
                                <input type="file" class="form-control" id="fileBase" name="fileBase" multiple onchange="previewImages(event)">
                                <div class="filename-contain"></div>
                            </div>


                        </div>
                    </div>

                </div>
                <hr class="new4">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- view file img-->
                            <h4><label for="imagesPreview">Preview</label></h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="imagesPreview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-footer text-center">
                    <button type="submit" id="btnSubmit" class="button-35" value="Save">Save</button>
                </div>
            </form>
        </div>
        <!--end config contact-->
   


        <!-- Modal config email -->
        <div class="modal fade" id="configEmail" tabindex="-1" role="dialog" aria-labelledby="configEmail" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title" id="configEmaill">Configure sending mail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa-regular fa-circle-xmark"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-8 text-left">
                                            <label>Smtp server:</label>
                                            <input type="text" name="name" id="smtpServer" value="@ViewBag.smtp.value" class="smtpServer" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Smtp port:</label>
                                            <input type="number" name="name" id="mailPort" value="@ViewBag.SysMailPort.value" class="portSMTP" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label>Username: </label>
                                            <input type="text" name="name" id="mailUsername" value="@ViewBag.MailUsername.value" class="userName" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Password:</label>
                                            <input type="text" name="name" id="mailPass" value="@ViewBag.SysMailPass" class="passEmail" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Email: </label>
                                    <input type="email" name="name" id="mailAddress" value="@ViewBag.SysMailAddress.value" class="nameEmail" />
                                </div>

                                <div class="col-sm-12">
                                    <label>Name View:</label>
                                    <input type="text" name="name" id="displayName" value="@ViewBag.DisplayName.value" class="nameView" />
                                </div>
                                <div col-sm-4>
                                    <input type="checkbox" name="name" id="ssl" value="" @(ViewBag.ssl.value == "true" ? "checked" : "") class="ssL" />
                                    <label>SSl</label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-outline-light" onclick="doEditMailConfig();"> <i class="fa-solid fa-floppy-disk mr-2" style="color: #0065b3;"></i>Save </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end config email -->
    </div>


</div>
<!-- /.card -->
