<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Give - AID | N.G.O</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="@Url.Content("~/content/plugins/fontawesome-free/css/all.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/content/dist/css/adminlte.min.css")">
    <!--CSS-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/customeCSS.css")">
    <!-- Toastr -->
    <link rel="stylesheet" href="@Url.Content("~/content/plugins/toastr/toastr.min.css") ">
</head>
<body class="hold-transition layout-top-nav">




    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src=" @Url.Content("~/content/dist/img/AdminLTELogo.png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Give-AID</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">Help Center</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">Our Partners</a>
                        </li>

                    </ul>






                    <!-- Right navbar links -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <li class="nav-item ">
                            <a href="@Url.Action("Index", "Login")" class="nav-link">Sign In</a>
                        </li>
                    </ul>

                </div>
        </nav>
        <!-- /.navbar -->

        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/content/Images/2DV.gif")" alt="Los Angeles">
                    <div class="carousel-caption center-caption">
                        <h3>Chữ bự</h3>
                        <p>Some text for slide 1</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/content/Images/Xqg8.gif")" alt="Chicago">
                    <div class="carousel-caption center-caption">
                        <h3>Chữ nè bay</h3>
                        <p>Some text for slide 1</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="@Url.Content("~/content/Images/YhSO.gif")" alt="New York">
                    <div class="carousel-caption center-caption">
                        <h3>Chữ nữa nè</h3>
                        <p>Some text for slide 1</p>
                    </div>
                </div>
            </div>



        </div>





        @RenderBody()

        @RenderSection("scripts", required: false)

        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2024 <a href="https://tinyurl.com/WuDuke">WuDuke</a>.</strong>
            A startup company.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 0.0.1
            </div>
        </footer>




    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="@Url.Content("~/content/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/content/dist/js/adminlte.min.js")"></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/content/plugins/toastr/toastr.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="@Url.Content("~/content/dist/js/demo.js")"></script>*@
    <!--custom-->
    <script src="@Url.Content("~/content/custom/customJS.js")"></script>

</body>
</html>
