<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR-WuDuke | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/content/plugins/fontawesome-free/css/all.min.css")">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/content/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/content/dist/css/adminlte.min.css")">
    <!-- Toastr -->
    <link rel="stylesheet" href="@Url.Content("~/content/plugins/toastr/toastr.min.css") ">
    <!--CSS-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/customeCSS.css")">



    <!-- jQuery -->
    <script src="@Url.Content("~/content/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/content/dist/js/adminlte.min.js")"></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/content/plugins/toastr/toastr.min.js")"></script>

    <!--custom-->
    <script src="@Url.Content("~/content/custom/customJS.js")"></script>
</head>

<body class="hold-transition login-page dark-mode">

    @RenderBody()










</body>
</html>