@{
    var user = Session["USER"] as GiveAID.Models.entities.user;

    GiveAID.Models.entities.GiveAIDEntities en = new GiveAID.Models.entities.GiveAIDEntities();

    var address = en.configurations.FirstOrDefault(x => x.keyword == "SYS_ADDRESS");
    var email = en.configurations.FirstOrDefault(x => x.keyword == "SYS_EMAIL");
    var phone = en.configurations.FirstOrDefault(x => x.keyword == "SYS_PHONE");
    var introduce = en.configurations.FirstOrDefault(x => x.keyword == "SYS_INTRODUCE");

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Give - AID | N.G.O</title>
    <meta property="og:title" content="@ViewBag.titleFb" />
    <meta property="og:image" content="~/Content/Images/post/@ViewBag.imageFb"/>
    <meta property="og:description" content="test noi dung" />
    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon/favicon.ico")" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.min.css")">
    <!-- Font Awesome Icons 6.5.2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free-6.5.2-web/css/all.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/adminlte.min.css")">
    <!--CSS custome cua em-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/customeCSS.css")">
    <!--CSS custome cua em-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/button.css")">
    <!-- summernote -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/summernote/summernote-bs4.min.css")">
    <!-- Toastr -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/toastr/toastr.min.css") ">
    <!-- input tags-->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/jquery-inputTags/inputTags.min.css") ">

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <!-- input tags-->
    <script src="@Url.Content("~/Content/plugins/jquery-inputTags/inputTags.jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/dist/js/adminlte.min.js")"></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>
    <!--custom new-->
    <script src="@Url.Content("~/Content/custom/customJS.js")"></script>
    <!-- Summernote -->
    <script src="@Url.Content("~/Content/plugins/summernote/summernote-bs4.min.js")"></script>
    <!--custom new-->
    <script src="@Url.Content("~/Content/plugins/moment/moment.min.js")"></script>
    <style>
        .main-footer {
            background-color: #343a40;
            border-color: #4b545c;
        }

        .text-color-1 {
            color: ghostwhite;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #FF0099;
        }

        .cusLogo {
            width: 150px;
            height: 60px;
        }

        .cusLogoF {
            width: 200px;
            height: 60px;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav">

    <div class="wrapper">
        <!-- Navbar -->

        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
            <div class="container">
                <a href="@Url.RouteUrl("ViewHome")" class="navbar-brand">
                    <img src=" @Url.Content("~/content/Images/LogoGive.png")" alt="Give Logo"
                         class="cusLogo img-circle ">

                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.RouteUrl("ViewHome")" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DonationP","Home")" class="nav-link">Our project</a>
                        </li>

                        <li class="nav-item ">
                            <a href="@Url.Action("helpCenter","Home")" class="nav-link">Help Center</a>
                        </li>

                        <li class="nav-item ">
                            <a href="@Url.RouteUrl("viewHomePartner")" class="nav-link">Partners</a>
                        </li>

                        <li class="nav-item ">
                            <a href="@Url.Action("About","Home")" class="nav-link">About Us</a>
                        </li>
                    </ul>

                    <!-- Right navbar links -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                        @if (user == null)
                        {
                            <li class="nav-item ">
                                <a href="@Url.Action("Index", "Login")" class="nav-link">Sign In</a>
                            </li>
                        }
                        else
                        {

                            <!-- Notifications Dropdown Menu -->
                            <!--Logo sign in-->
                            <li class="nav-item dropdown">

                                <a class="nav-link btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" href="#">
                                    <i class="fa-solid fa-address-card"></i>  USER
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-left mx-auto">
                                    <h3><span class="dropdown-item dropdown-header">System</span></h3>
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("InforUser", "Home")" class="dropdown-item">
                                        <i class="fa-solid fa-circle-info mr-2"></i> Account Information
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("ChangePass", "Login")" class="dropdown-item">
                                        <i class="fa-solid fa-key mr-2"></i> Change Password
                                    </a>

                                    @if (user.permission == "admin" || user.permission == "mod")
                                    {<div class="dropdown-divider"></div>
                                        <a href="@Url.Action("Index", "Admin")" class="dropdown-item">
                                            <i class="fa-solid fa-users-gear mr-2"></i> Admin system
                                        </a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("Logout", "Login")" class="dropdown-item">
                                        <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Log out
                                    </a>
                                </div>
                            </li>
                        }

                    </ul>

                </div>


            </div>
        </nav>
        <!-- /.navbar -->







        @RenderBody()

        @RenderSection("scripts", required: false)

        <div><a href="#" id="backToTopBtn"><i class="fa-solid fa-turn-up"></i></a></div>


        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">

                    <h5 class="text-color-1">
                        <img src=" @Url.Content("~/Content/Images/LogoGive.png")" alt="AdminLTE Logo" class="cusLogoF img-circle mr-3">
                        Give-AID <span>Always want to bring joy and happiness to everyone</span>
                    </h5>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3 mr-2"></i>Give-AID
                            </h6>
                            <p>
                                <span>@introduce.value</span>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7662896378047!2d106.67573237451694!3d10.752486959635952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ff9178bc411%3A0x8f57d0b903fd2815!2zQuG7h25oIHZp4buHbiBUw6JtIFRo4bqnbiBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1716051812566!5m2!1svi!2s" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3"></i> @address.value</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                @email.value
                            </p>
                            <p><i class="fas fa-phone me-3 mr-1"></i>@phone.value</p>
                            @*<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>*@
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <strong>Copyright &copy; 2024 <a href="https://tinyurl.com/WuDuke">WuDuke</a>.</strong>
            A startup company.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 0.0.1
            </div>
        </footer>


    </div>
    <!-- ./wrapper -->


</body>
</html>
