<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Give-AID | N.G.O</title>
    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon/favicon.ico")" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.min.css")">
    <!-- Font Awesome Icons 6.5.2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free-6.5.2-web/css/all.min.css")">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/adminlte.min.css")">
    <!-- Toastr -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/toastr/toastr.min.css") ">
    <!--CSS-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/customeCSS.css")">
    <!--CSS Custome-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/button.css")">


    <!-- jQuery -->
    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/dist/js/adminlte.min.js")"></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>

    <!--custom-->
    <script src="@Url.Content("~/Content/custom/customJS.js")"></script>
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('@Url.Content("~/Content/Images/anhSlide1.png")');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
        }
    </style>
</head>

<body class="hold-transition login-page dark-mode">

    @RenderBody()










</body>
</html>