<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Give - AID | N.G.O</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.min.css")">
    <!-- Font Awesome Icons 6.5.2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/fontawesome-free-6.5.2-web/css/all.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/adminlte.min.css")">
    <!--CSS-->
    <link rel="stylesheet" href="@Url.Content("~/Content/custom/customeCSS.css")">
    <!-- Toastr -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/toastr/toastr.min.css") ">
  
   
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/dist/js/adminlte.min.js")"></script>
    <!-- Toastr -->
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="@Url.Content("~/content/dist/js/demo.js")"></script>*@
    <!--custom-->
    <script src="@Url.Content("~/Content/custom/customJS.js")"></script>

</head>
<body class="hold-transition layout-top-nav">




    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src=" @Url.Content("~/content/dist/img/AdminLTELogo.png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Give-AID</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">Help Center</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">Our Partners</a>
                        </li>

                    </ul>






                    <!-- Right navbar links -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                        <li class="nav-item ">
                            <a href="@Url.Action("Index", "Login")" class="nav-link">Sign In</a>
                        </li>


                        <!-- Notifications Dropdown Menu -->
                        <li class="nav-item dropdown">

                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <img src="@Url.Content("~/content/dist/img/user8-128x128.jpg") " alt="User Avatar" class="img-size-32 img-circle mr-3">
                                <span class="badge badge-warning navbar-badge">Hot</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right mx-auto">
                                <span class="dropdown-item dropdown-header">Hệ thống</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i> Thông tin tài khoản

                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> Đổi mật khẩu

                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fa-solid fa-arrow-right mr-2"></i> Vào ADMIN
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Đăng Xuất
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
               </div>
        </nav>
        <!-- /.navbar -->







        @RenderBody()

        @RenderSection("scripts", required: false)






    </div>
    <!-- ./wrapper -->


</body>
</html>
